/*
 * A colorselector for Twitter Bootstrap which lets you select a color from a predefined set of colors only.
 * https://github.com/flaute/bootstrap-colorselector
 *
 * Copyright (C) 2014 Flaute
 *
 * Licensed under the MIT license
 */

/* colorselector dropdown */

.dropdown-colorselector>.dropdown-menu {
  top: 110%;
  padding: 4px;
  min-width: 146px;
  max-width: 146px;
}

.dropdown-colorselector>.dropdown-menu>li {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin: 2px;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  position: relative;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.dropdown-colorselector>.dropdown-menu>li>.no-color.color-btn {
    border: 1px solid #ccc;
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity = 80);
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

.dropdown-colorselector>.dropdown-menu>li>.color-btn.selected:after,
.dropdown-colorselector>.dropdown-menu>li>.no-color.color-btn.selected:after,
.dropdown-colorselector>.dropdown-menu>li>.no-color.color-btn:after,
.btn-colorselector.no-color:after {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  font-size: 11px;
  color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 30px;
}

.dropdown-colorselector>.dropdown-menu>li>.no-color.color-btn.selected:after,
.dropdown-colorselector>.dropdown-menu>li>.no-color.color-btn:after,
.btn-colorselector.no-color:after {
    content: "\e014";
    color: #ccc;
}

.btn-colorselector.no-color:after {
    width: 31px;
    line-height: 31px;
    font-size: 16px;
}

.btn-colorselector {
  display: inline-block;
  width: 31px;
  height: 31px;
  background-color: #DDD;
  vertical-align: middle;
}
.btn-colorselector.no-color {
    border: 1px solid #ccc;
}

.dropdown-menu.dropdown-caret:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}

.dropdown-menu.dropdown-caret:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
