.note {
    clear: both;
    padding: 3px;
    border: 1px dotted #ffc539;
    background-color: #fffac4;
    margin-top: 3px;
}

hr {
    margin: 4px;
}

#add-product {
    min-width: 75px;
    width: 100%;
}

#orderDate {
    min-width: 110px;
}
#orderAddProduct {
    padding-top: 10px;
    padding-bottom: 10px;
}

#products .well {
    min-height: 20px;
    padding: 5px 5px 5px 2px;
    margin-bottom: 2px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.product-row {
    margin-bottom: 4px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}

.coupons .alert {
    margin-bottom: 0;
}

.coupons .alert .close {
    float: none;
    top: 0;
}

.label-purple {
    background-color: #800080;
}

.label-pistachio {
    color: #187d18;
    background-color: #bef574;
}

.label-mint {
    color: #1d5f42;
    background-color: #aaf0d1;
}

.label-yellow {
    color: #565628;
    background-color: #ffff00;
}

.label-black {
    background-color: #000;
}

.client-loyality .grid-view table.items tr.selected td{
    background-color: #fff;
}

.client-loyality .grid-view{
    padding-top: 8px;
}
.user-order-list .grid-view{
    padding-top: 0px;
}