@page {
	size: auto;
	padding: 20px;
	margin: 0 20px 0 0;
}
.admin-panel .breadcrumb{
	border-radius: 0;
}
.panel-body {
}
.panel-body:after, .panel-body:before {
	content: " ";
	display: table;
}
.print-page *,
.container-fluid .right-column *{
	border-color: #aaa !important;
}
.box {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 2px;
	z-index: 1;
}
.box, .box-container {
	display: table;
	height: 100%;
	table-layout: fixed!important;
	width: 100%;
}
.box, .wizard, .wizard-wrapper {
	background: #fff;
}
.box-row {
	display: table-row;
	width: 100%;
	padding: 0;
	vertical-align: top;
}
.box-cell, .box-row {
	float: none;
}
.box-cell {
	display: table-cell;
	overflow: hidden;
	padding: 0;
	vertical-align: inherit;
	border-color: rgba(0,0,0,.05);
}
.box-cell, .box-cell>* {
	position: relative;
}
.dataTable thead th, .valign-middle {
	vertical-align: middle!important;
}
.display-inline-block {
	display: inline-block!important;
}
.font-weight-bold {
	font-weight: 700!important;
}
.line-height-1 {
	line-height: 1!important;
}
.font-size-12 {
	font-size: 12px!important;
}
.font-size-14 {
	font-size: 14px!important;
}
.font-size-18 {
	font-size: 18px!important;
}
.font-size-24 {
	 font-size: 24px!important;
}
.pull-xs-right {
	float: right!important;
}
.p-l-1, .p-x-1 {
	padding-left: 10px!important;
}
.b-l-1 {
	border-left-style: solid!important;
}
.b-l-1, .b-x-1 {
	border-left-width: 1px!important;
}
.p-b-2, .p-y-2 {
	padding-bottom: 15px!important;
}
.p-t-2, .p-y-2 {
	padding-top: 15px!important;
}
.p-a-4 {
	padding: 30px!important;
}
.b-b-1 {
	border-bottom-style: solid!important;
}
.b-b-1, .b-y-1 {
	border-bottom-width: 1px!important;
}
.m-r-3, .m-x-3 {
	margin-right: 20px!important;
}
.m-a-0 {
	margin: 0!important;
}
.p-r-2, .p-x-2 {
	padding-right: 15px!important;
}
.m-b-1, .m-y-1 {
	margin-bottom: 10px!important;
}
.m-t-1, .m-y-1 {
	margin-top: 10px!important;
}
b, optgroup, strong {
	font-weight: 700;
}