.image:not(.img-polaroid) .image-changes {
    position: absolute;
}

ul.gallery-thumbnails {
    list-style-type: none;
    padding: 0;
}

.image-wrapper {
    float: left;
    position: relative;
    width: 190px;
    margin: 0 15px 30px 15px;
    text-align: center;
}

.gallery-thumbnail {
    display: block;
    height: 190px;
    margin-bottom: 7px;
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.gallery-thumbnail .move-sign {
    position: absolute;
    left: 67px;
    top: 67px;
    padding: 5px;
    background-color: #fff;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    cursor: move;
}

.gallery-thumbnail:hover .move-sign {
    opacity: 0.4;
}
.dragndrop:after {
    display: block;
    text-align: center;
    position: relative;
    line-height: 55pt;
    font-size: 18pt;
    color: #E2E2E2;
    border: 2px dashed;
    margin-bottom: 5px;
}