/*------------------------------------------------------------------
[ Shortcuts / .shortcuts ]
*/

.form-control {
    border-radius: 0px;
}
input[type=checkbox].one-checkbox {
    float: left;
    margin-right: 5px;
}
label.for-checkbox{
    font-weight: normal;
}
.shortcuts {
    text-align: left;
}


.grid-action-column .btn-group{
    display: flex;
    overflow: hidden;
}

.shortcuts .shortcut {
    min-height: 114px;
    text-align: center;
    width: 114px;
    display: inline-block;
    padding: 12px 0;
    margin: 0 5px 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .35em;
    font-size: 32px;
    color: #555;
}

.shortcuts .shortcut:hover {
    background: #E8E8E8;
    background-color: #f0f0f0;
    background-repeat: repeat-x;
}

.shortcuts .shortcut:hover .shortcut-icon {
    color: #666;
}

.shortcuts .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
    margin-top: 5px;
}

.action-nav-button {
    margin-bottom: 15px;
    position: relative;
    display: inline-block;
    text-align: center;
    min-height: 114px;
    width: 114px;
    display: inline-block;
}

a.shortcut {
    position: relative;
}

#page .shortcut .label i {
    margin-right: 2px;
    color: #fff;
}

.shortcut .label {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 5px;
    display: block;
    font-size: 100%;
}

.shortcut .cn {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 114px;
    height: 88px;
}

/* General Style */
.error .redactor_box {
    border: 1px rgb(149, 59, 57) solid;
    -webkit-box-shadow: 0 0 6px rgb(213, 147, 146);
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px rgb(213, 147, 146);
}

html,
body {
    height: 100%;
}

#overall-wrap {
	min-height: 100%;
	margin: 0 auto -91px;
}
#overall-wrap.login-page-wrap {
	min-height: auto;
}
.wrapper .login-form {margin-bottom: 0;}
.navbar-fixed-top {
    border-bottom: 2px solid #FF9600;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1055;
}

footer {
    clear: both;
    text-align: center;
    height: 91px;
    padding: 5px 0 5px;
    border-top: 1px solid #E5E5E5;
    line-height: 18px;
    color: #9D9D9D;
    font-size: 12px;
    background: #f8f8f8;
}

#footer-guard {
    height: 120px;
}

div#page {
    padding-top: 60px;
    padding-bottom: 50px;
}
#page.login-page{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -30px;
}

.navbar-brand {
    padding: 7px 15px 15px 15px;
}

.nav-list > li {
    margin: 0 15px;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    background-color: #0088CC;
    color: #FFFFFF;
}

.nav li.nav-header, .nav-list li.nav-header {
    color: #999999;
    margin: 0;
}

.nav-list > li > a {
    color: #000;
    margin: 0 -15px;
}

.nav-header, li.nav-header a {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;

    text-transform: uppercase;
}

li.nav-header a {
    pointer-events: none;
    cursor: default;
    margin: 0 -15px;
    color: inherit;
}

/* fix submenu bootstrap 3 */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

table .button-column {
    white-space: nowrap;
}

.button-column a, td.toggle-column a {
    color: #333;
    text-decoration: none;
}

.table-vmiddle td {
    vertical-align: middle;
}

#page [class*='icon-'].icon-white {
    color: #fff;
}

#page a:hover [class*='icon-'] {
    color: inherit;
}

.popover {
    min-width: 300px;
}

.popover-title {
    white-space: nowrap;
}

.popover-content, .popover-content .body {
    width: 100%;
}

.datepicker {
    z-index: 100 !important;
}

.ui-sortable tr {
    cursor: move;
    background: #fff;
}

.nav-tabs {
    margin-bottom: 10px;
}

input.form-control[type="file"] {
    background: inherit;
}

.treeview .checkbox {
    margin: 0;
}

/* постраничная навигация в гридах */
.pager-container {
    position: absolute;
}

.pager-container .pagination {
    margin: 26px 0 0 0;
}

/* Override redactor styles */

.redactor-toolbar-tooltip {
    z-index: 1055;
}

/* Modal */
.modal-backdrop {
    z-index: 1057;
}

.modal {
    z-index: 1058;
}

/* грид */

.grid-toolbar {
    height: 40px;
    padding-left: 0px;
}

/*navbar*/
.navbar-default .navbar-nav>li>a {
    padding: 15px 5px;
}

.navbar-brand {
    padding: 5px 5px 15px 15px;
}

/* Начала блока комментариев */
.comments-section {
    font: 13px arial, helvetica, sans-serif;
    color: #333333;
}

.comments-section-count-feed {
    padding: 0 0 0 7px;
    font-size: 24px;
    font-weight: normal;
}

.comments-add-form {
    padding: 0 0 0 86px;
    position: relative;
    margin: 0 0 -10px 0;
}

.comments-add-text textarea {
    background: #f5f5f5;
    padding: 0 15px;
    margin: 0 0 0 -34px;
    line-height: 36px;
    height: 36px;
    width: 100%;
    border: 1px solid #eeeeee;
    resize: none;
    box-shadow: -1px -1px 0 #dddddd, 1px -1px 0 #dddddd, 0px -2px 0 #c6c6c6, -1px -2px 0 #c6c6c6, 1px -2px 0 #c6c6c6;
}

.comments-item {
    position: relative;
    margin: 20px 0 0 0;
}

.comments-item-avatar, .comments-add-ava {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
}

.comments-item-avatar img, .comments-add-ava img {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.comments-item-main {
    padding: 0 0 0 54px;
}

.comments-item-author {
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    color: #8f8f8f;
}

.comments-item-author a {
    color: #8f8f8f;
}

.comments-item-top, .comments-item-top a {
    color: #a5a5a5;
    font-size: 14px;
}

.comments-item-info {
    overflow: hidden;
    display: block;
}

.comments-item-date {
    padding: 0 0 0 22px;
    line-height: 20px;
    font-weight: normal;
    height: 15px;
    background: url('../img/cal-reply.png') no-repeat 0 1px;
    font-size: 12px;
}
.comment-form-wrap {margin-top: 20px;}
.qweqwecomments-item-child {background: #f5f5f5; padding: 12px 15px 7px;}
.comments-item-reply {
    float: right;
    padding: 0 0 0 24px;
    height: 14px;
    line-height: 14px;
    background: url('../img/cal-reply.png') no-repeat 0 -15px;
}

.comments-item-reply a {
    text-decoration: underline;
}

.comments-item-reply a:hover {
    text-decoration: none;
}

.comments-item-message {
    padding: 0 0 5px;
    font-size: 13px;
    color: #333333;
    line-height: 19px;
    overflow: hidden;
}
.comments-item-message > div {margin-top: 3px;}

/* Вложенные комментарии */
.comments-item-child {
    background: #f5f5f5;
    margin: 10px 0 0 0;
}

.comments-item-child .comments-item-main:before {
    display: block;
    content: '';
    background: url('../img/comment-marker.png') no-repeat;
    width: 34px;
    height: 13px;
    margin: -31px 0 18px 0;
}

.comments-item-child .comments-item-main {
    margin: 18px 20px;
    padding: 18px 0 10px 54px;
}

.comments-item-child .comments-item-avatar {
    left: 20px;
    top: 18px;
}

.comments-item-child .comments-item-date {
    background-position: 0 -29px;
}

.preview-image-wrapper {
    display: inline-block;
    position: relative;
}

.preview-image-wrapper button {
    opacity: 0.9;
}

.preview-image-wrapper .dropdown-menu {
    min-width: 200px;
    left: auto;
    right: 0;
}

.image-settings {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 99;
    background: #fff;
}

.btn-group .btn {
    margin-left: -1px;
}

#news-form .ct-form-control {
    min-width: 100px;
}

.grid-view .headline {
    float: right;
    margin-top: 26px;
}

.grid-view .grid-toolbar {
    padding-right: 0;
}

.grid-view .grid-toolbar button {
    float: right;
}

.grid-view .grid-toolbar #copy-products {
    margin-right: 8px !important;
}

form .buttons {
    margin-top: 20px;
}
form .buttons.sticky{
    background: rgb(245, 245, 245);
    overflow: hidden;
    padding: 10px 20px;
    z-index: 1000;
    border-top: 1px solid #e3e3e3;
}

.editable-input input{
    width: 100px;
}

.attributes-items.checkbox-list{
    -webkit-column-width: 215px;
    -moz-column-width: 215px;
    column-width: 215px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}
.attributes-items.checkbox-list span.attribute-item{
    display: block;
    white-space: nowrap;
}
.attributes-items.checkbox-list span.attribute-item input{
    vertical-align: top;
}
.attributes-items.checkbox-list span.attribute-item label{
    white-space: normal;
}

.variants .label {
    cursor: default;
    display: inline-block;
}
.breadcrumb{
    margin-bottom: 10px;
}
.page-header{
    margin: 0 0 10px;
}
.page-header h1, .page-header-index h1{
    font-size: 22px;
    margin: 0;
}

.page-header-index{
    border: none;
}
.nav.horizontal-tabs > li > a{
    padding: 5px 15px;
}
.alert {
    padding: 10px 15px;
    margin-bottom: 10px;
}
.alert-light.alert-warning{
    color: #8d7955;
    border-color: #c9ba9b;
    background-color: #fffaf3;
}
.alert-light.alert-success{
    color: #6f976d;
    border-color: #a3c293;
    background-color: #fcfff5;
}
.alert-success .panel{
    color: #000;
    margin-top: 20px;
    margin-bottom: 0;
}
.alert-danger a{
    color: #fff;
    text-decoration: underline;
}
.tab-content{
    position: relative;
}
.how_last_product{
    position: absolute;
    right: 0;
    top: 0;
}

.expand-control-wrapper{margin-bottom: 10px;}
.expand-control-wrapper .a{color: #428bca;text-decoration: none; cursor: pointer;}
.expand-control-wrapper .a:hover{text-decoration: underline;}
#product-grid .name{display: block;}
#product-grid .original_name{font-size: 12px;}
#product-grid .producer-line{display: inline-block;}

.error {color: #FF0000;}
/*
.editableform .form-control {
    width: 100px;
}*/
.ct-form-control{min-width: 100px;}

select.backend-attr-filter{
    width: 99%;

}
.attribute-group-name{
    font-weight: bold;
    margin-top: 10px;
}

.text-danger{
    color: #e46050;
}
.text-info{
    color: #59c4e4;
}

.main-widgets .badge-info{
    border-color: #59c4e4;
    background: #59c4e4;
    color: #fff;
}
.main-widgets .badge-danger{
    border-color: #e46050;
    background: #e46050;
    color: #fff;
}
.main-widgets .badge-warning{
    border-color: #f4ab43;
    background: #f4ab43;
    color: #fff;
}
.main-widgets .sucess{
    border-color: #5cb85c;
    background: #5cb85c;
    color: #fff;
}

/* widgets */
.main-widgets .panel{
    margin-bottom: 40px;
}
.main-widgets .box h4{
     margin-bottom: 12px;
}
.main-widgets .panel-heading{
    position: relative;
    padding: 20px 15px;
}
.main-widgets h3, .main-widgets .h3{
    font-size: 18px;
    margin: 0;
}
.main-widgets .panel-success.panel-dark {
    border-color: #78bd5d!important;
}
.panel-info.panel-dark {
    border-color: #59c4e4!important;
}
.main-widgets .panel-success.panel-dark .panel-heading {
    background: #78bd5d;
    border-color: #78bd5d;
    color: #fff;
}
.main-widgets .panel-info.panel-dark .panel-heading {
    background: #59c4e4;
    border-color: #59c4e4;
    color: #fff;
}
.main-widgets .panel-warning.panel-dark .panel-heading {
    background: #f4ab43;
    border-color: #f4ab43;
    color: #fff;
}
.main-widgets .panel-icon{
    position: absolute;
    right: 5px;
    top: 5px;
    overflow: hidden;
    height: 100px;
    color: rgba(255,255,255,.3);
    font-size: 50px;
    line-height: 50px;
}
.main-widgets .badge {
    float: right;
    margin: 1px 0 0 5px;
    padding: 0 6px;
    line-height: 1.635em;
}
.widget-profile-counters {
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 11px;
}
.widget-profile-counters>* {
    display: table-cell;
    padding: 13px 0;
    color: #444;
}
.widget-profile-counters>*+* {
    border-left: 1px solid rgba(0,0,0,.05);
}
.widget-profile-counters>*+ {
    border-left: 1px solid rgba(0,0,0,.05);
}
.widget-profile-counter {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.panel-success.panel-dark .panel-footer {
    border-color: #78bd5d;
}
.panel-info.panel-dark .panel-footer {
    border-color: #59c4e4;
}
.panel-warning.panel-dark .panel-footer {
    border-color: #f4ab43;
}
.main-widgets .panel-footer a{
    color: #555;
}
.main-widgets a:hover,
.main-widgets a:focus{
    text-decoration: none;
}
.box{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
    z-index: 1;
    border: 1px solid #e2e2e2;
    box-shadow: none;
    display: table;
    height: 100%;
    table-layout: fixed!important;
    width: 100%;
}
.box-container {
    display: table;
    height: 100%;
    table-layout: fixed!important;
    width: 100%;
}
.box-row {
    display: table-row;
    width: 100%;
    padding: 0;
    vertical-align: top;
}
.box-cell{
    display: table-cell;
    overflow: hidden;
    padding: 0;
    vertical-align: inherit;
    border-color: rgba(0,0,0,.05);
}
.box-cell, .box-cell>* {
    position: relative;
}
.box-cell, .box-row {
    float: none;
}
.box-cell.bg-info {
    background-color: #59c4e4;
}
@media (min-width: 768px){
    .box-cell[class*=" col-md-"], .box-cell[class^=col-md-] {
        display: table-cell;
    }
}

.badge-separator{
    display: inline-block;
    float: right;
    margin: 1px 0 0 5px;
    padding: 0;
}

.progress-bar-striped.active, .progress-striped .progress-bar.active {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.progress-bar {
    background-color: #4ab6d5;
    border: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: linear-gradient(45deg,rgba(255,255,255,.1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.1) 50%,rgba(255,255,255,.1) 75%,transparent 75%,transparent);
    background-size: 10px 10px;
}
.modal-dialog .progress{
    height: 15px;
    margin-bottom: 3px;
}

/*  */
.valign-top {
    vertical-align: top!important;
}
.p-a-05 {
    padding: 5px!important;
}
.p-a-1 {
    padding: 10px!important;
}
.p-a-3 {
    padding: 20px!important;
}
.p-l-1, .p-x-1 {
    padding-left: 10px!important;
}
.p-l-2{
    padding-left: 20px!important;
}
.p-r-1, .p-x-1 {
    padding-right: 10px!important;
}
.b-t-0, .b-y-0 {
    border-top-width: 0!important;
}
.b-l-0, .b-x-0 {
    border-left-width: 0!important;
}
.b-r-0, .b-x-0 {
    border-right-width: 0!important;
}
.b-r-1 {
    border-right-style: solid!important;
}
.b-r-1, .b-x-1 {
    border-right-width: 1px!important;
}
.b-b-0, .b-y-0 {
    border-bottom-width: 0!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.m-x-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}
.dataTable thead th, .valign-middle {
    vertical-align: middle!important;
}
.font-size-24 {
    font-size: 24px!important;
}
.text-xs-center {
    text-align: center!important;
}
.bg-danger, .bg-danger a, .bg-danger a:active, .bg-danger a:focus, .bg-danger a:hover, .bg-danger:active, .bg-danger:focus, .bg-danger:hover, .bg-danger[href], .bg-danger[href]:active, .bg-danger[href]:focus, .bg-danger[href]:hover {
    color: #fff!important;
}
.box-cell[class*=" col-xs-"], .box-cell[class^=col-xs-] {
    display: table-cell;
}
.no-border{border: none;}
.main-widgets .bg-danger{
    background-color: #e46050!important;
}
.main-widgets .bg-danger, .main-widgets .bg-danger .bg-danger {
    border-color: #d64230!important;
}
.panel.simple{
    border: 1px solid #e2e2e2;
    box-shadow: none;
}
.widget-panel-error .box-row:first-child .bg-danger{
    padding-top: 10px !important;
}
.widget-panel-error .box-row:last-child .bg-danger{
    padding-bottom: 10px !important;
}
.widget-panel-error a:hover{
    text-decoration: underline;
}
.widget-panel-error-icon{
    padding: 10px 0;
}
.image-in-settings .form-wrapper{
    width: 50%;
    float: left;
    margin-right: 20px;
}
.image-in-settings .image-wrapper{
    float: left;
}
.help-block.small{
    margin-top: -10px;
}
.help-actions{
    margin-top: 30px;
}
.ace_editor{
    height: 500px;
}
.color-item.color-other-item{
    position: relative;
}
@media (max-width: 700px) {
    div#page {padding-bottom: 70px;}
    .pager-container .pagination {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center;}
    .pagination > li > a {width: 36px; margin: 0 0 5px; text-align: center;}
}
