.hidden{display: none !important;}
.hidden-opacity {opacity: 0 !important;}
.error > input,
.error > textarea,
.input.error {border: 1px solid #a94442}
.success > input,
.success > textarea,
input.success {border: 1px solid #3c763d}
label.error, .errorMessage, .text-error {color: #a94442}
.errorMessage {padding: 3px 0; font-size: 13px;}
.errorSummary {font-size: 13px;}
.errorSummary p {margin: 0 0 6px 0 !important;}
.errorSummary ul {margin: 0; padding-left: 15px;}
.success, .text-success {color: #3c763d}

.alert-info {color: #31708f;background-color: #d9edf7;border-color: #bce8f1;}
.alert-info a {color: #245269;}
.alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
.alert-success a {color: #2b542c;}

.alert,
.errorSummary,
.bs-callout {margin: 10px 0;padding: 10px;border-left: 3px solid #eee;}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.page .bs-callout p{margin: 0;}
.bs-callout p:last-child{margin-bottom:0}
.alert-warning,
.alert-error,
.errorSummary,
.bs-callout-danger {background-color: #ffeeee;border-color: #d9534f; text-align: left;}
.bs-callout-info {background-color: #f4f8fa;border-color: #5bc0de;}
.bs-callout-success {background-color: #dff0d8;border-color: #3c763d;}

.page-profile form,
.page-profile .profile__change-email,
.page-profile .form__input-checkbox .form-group__input,
.page-order .cart-box__subtotal,
.page-user-reg,
.page-user-reg form .form__input-captcha,
.page-user-reg form .form__input-captcha .form-image {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
.page-profile form,
.page-user-reg {-webkit-justify-content:space-between; justify-content:space-between;}
.page-profile .profile__change-email,
.page-profile .form__input-checkbox .form-group__input,
.page-order .cart-item__info,
.page-user-reg {align-items:center; -webkit-align-items:center;}
.page-profile form {-webkit-flex-wrap: wrap; flex-wrap: wrap;}
.page-order .cart-subtotal-title {-webkit-flex-grow: 1; flex-grow: 1;}

.catalog__pagination {margin-top: 40px;}
ul.pagination {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; margin: 0; padding: 0;}
ul.pagination li {margin: 0 0 0 -1px;}
ul.pagination li a {display: inline-block; height: 40px; width: 40px; border: 1px solid #eee; font-size: 13px; color: #b1b1b1; line-height: 38px; text-align: center; text-decoration: none;}
ul.pagination li a:hover,
ul.pagination li.selected a {background: #f6f6f6; color: #3d3d3d; }

.js-tabs-bodies-holder {height: auto !important;}
.jq-select-multiple, .jq-selectbox {position: relative;display: inline-block;}
.jq-selectbox {z-index: 10;vertical-align: middle;cursor: pointer;}
.jq-select-multiple select, .jq-selectbox select {position: absolute;top: 0;left: 0;width: 100%;height: 100%;margin: 0;padding: 0;opacity: 0;}
.jq-selectbox__select {position: relative;}
.jq-selectbox__select {height: 32px;padding: 0 15px;overflow: hidden;height: 40px;border-radius: 5px;background: #f6f6f6;line-height: 40px;color: #32373d;font-size: 13px;}
.jq-select-multiple li, .jq-selectbox li, .jq-selectbox__select-text {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;white-space: nowrap;}
.jq-selectbox__select-text {overflow: hidden;user-select: none;text-overflow: ellipsis;}
.jq-selectbox__select-text {display: block;width: 100%;}
.jq-selectbox__trigger {position: absolute;top: 0;right: 0;width: 26px;height: 100%;background: url(../images/arrow_down2.png) no-repeat 50%;}
.jq-selectbox__dropdown {position: absolute;max-width: 100%;}
.jq-selectbox__dropdown {-webkit-box-sizing: border-box;box-sizing: border-box;width: 100%;margin: 2px 0 0;padding: 0;border: 1px solid #f6f6f6;border-radius: 4px;background: #FFF;font: 14px/18px Arial,sans-serif;top: 100% !important;}
.jq-selectbox__dropdown ul {position: relative;overflow: auto;overflow-x: hidden;list-style: none;-webkit-overflow-scrolling: touch;}
.jq-selectbox ul {margin: 0;padding: 0;}
.jq-select-multiple li, .jq-selectbox li, .jq-selectbox__select-text {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;white-space: nowrap;}
.jq-select-multiple li, .jq-selectbox li {user-select: none;}
.jq-selectbox li {min-height: 18px;padding: 5px 10px 6px;color: #231F20;white-space: normal;}
.jq-selectbox li.sel,
.jq-selectbox li:hover,
.jq-selectbox li.selected {background-color: #f6f6f6;}

.order-box-delivery__type .order-box__item,
.order-box-payment__type .order-box__item {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align:center; -moz-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; margin-bottom: 25px;}
.order-box-delivery__type .order-box__item:last-child,
.order-box-payment__type .order-box__item:last-child {margin-bottom: 0;}
.order-box-delivery__type .order-box__item label,
.order-box-payment__type .order-box__item label {margin: 0; font-size: 13px; color: #32373d; margin-left: 14px; cursor: pointer;}
input[type="radio"] {opacity: 0; width: 0; height: 0;}
.jq-radio {width: 20px; height: 20px; border-radius: 50%; border: 1px solid #e3e3e3; background: #f6f6f6; position: relative; cursor: pointer;}
.jq-radio.checked .jq-radio__div {width: 12px; height: 12px; border-radius: 50%; background: #08c; position: absolute; top: 50%; left: 50%; margin: -6px 0 0 -6px;}
.jq-radio.disabled .jq-radio__div {background: #e3e3e3;}

/*комментарии*/
.comments__body .comment-form__top,
.comments__body .button_privacy,
.comments__body .order-form__captcha,
.comments__body .order-form__captcha .form-image {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex;}
.comments__body .comment-form__top{-webkit-justify-content:space-between; justify-content:space-between;}
.comments__body .comment-form__top .form__input-item {width: 31.5%;}
.comments__body input[type="text"],
.comments__body textarea,
.comments__body .jq-selectbox {width: 100%;}
.comments__body .button_privacy .privacy {font-size: 13px;}
.comments__body .button_privacy .privacy a {border: none;}
.comments__body .comments__body-title {font-size: 16px; font-weight: 600; margin-bottom: 8px;}
.comments__body .comments__body-subtitle {font-size: 13px; margin-bottom: 30px;}
.comments__body form button[type="submit"] {background: #fecc53; border-color: #fecc53; color: #3d3d3d; padding: 0 45px;}
.comments__body form textarea {height: 62px;}
.comments__body .comment-form__bottom {margin-top: 27px;}
.comments__body .button_privacy .button {margin-right: 30px;}
.comments-user {font-size: 14px; font-weight: bold; margin-bottom: 4px;}
.comments-form {border-top: 20px solid #f6f6f6; margin: 0 -40px; padding: 20px 40px 0;}
.lct_content .comments-form form {margin-bottom: -8px;}
.comment-item__date {font-size: 13px; color: #b1b1b1; margin-bottom: 20px;}
.comment-item__text {font-size: 13px; margin-bottom: 19px;}
.comment-item__rating-wrap {}
.comment-item__rating-separator {font-size: 13px; color: #b1b1b1; display: inline-block; margin-right: 5px;}
.comment-item__rating-star {width: 13px; height: 13px; background: url(../images/icon_star2.png) no-repeat 50%; display: inline-block; display: inline-block; margin-right: 1px;}
.comment-item__rating-star.fill {background-image: url(../images/icon_star.png);}
.comment-item__admin {background: #f6f6f6; padding: 14px 19px 15px; margin: 26px 0 0;}
.comment-item__admin-text-title {font-size: 14px; font-weight: bold; margin-bottom: 7px;}
.comment-item__admin-text {font-size: 13px;}
.comment-item__admin-text p {margin: 0;}
.comment-item {padding-bottom: 29px; margin-bottom: 22px; border-bottom: 1px solid #eee;}
.comment-item:last-child {margin-bottom: 0; border-bottom: none;}
.comments__body .order-form__captcha {-webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; align-items: flex-end;}
.comments__body .order-form__captcha .form-image {border: 1px solid #eee; width: 120px; height: 40px; -webkit-box-align:center; -moz-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center;}
.comments__body .order-form__captcha .form-group {-webkit-flex: 0 0 200px; flex: 0 0 200px; margin-right: 30px;}
.comments__body .list-view {padding-bottom: 20px;}

/* личный кабинет */

.page-profile .l_col {margin-top: 0; -webkit-flex: 0 0 270px; flex: 0 0 270px; margin-right: 59px;}
.page-profile.page-order .l_col {display: none;}
.page-profile .left-menu {margin: 0; padding: 0; list-style: none;}
.page-profile .left-menu li {margin: 0; border-bottom: 1px solid #eee;}
.page-profile .left-menu li:last-child {border: none;}
.page-profile .left-menu li a {display: block; background: #fff; border: none; padding: 24px 19px 24px; font-size: 14px; color: #222; border-right: 4px solid transparent;}
.page-profile .left-menu li a:hover,
.page-profile .left-menu li.active a {color: #08c; border-color: #08c;}
.page-profile .lct_content {background: #fff; padding: 24px 30px 31px; margin-bottom: 82px;}
.page-profile h1,
.page-order .h3 {font-weight: 600; font-size: 16px; margin-bottom: 29px;}
.page-profile .form__input-item {width: 48%;}
.page-profile .form__input-item.form__email-change {width: 100%;}
.page-profile .form__input-item.form__input-checkbox,
.page-profile .form__input-buttons {width: 100%;}
.page-profile .profile__change-email {margin-bottom: 10px;}
.page-profile .profile__change-email label {margin: 0 5px 0 0;}
.page-profile .profile__change-email a {font-size: 13px; border: none;}
.page-profile form input[type="text"] {width: 100%;}
.page-profile .form__input-checkbox .form-group__input label {margin: 0;}
.page-profile .profile__change-pass {margin-top: 10px;}
#profile-password-form input[type="password"],
.page-user-profile form input[type="text"],
.page-user-profile form input[type="password"] {width: 100%;}
#profile-password-form label.checkbox {cursor: pointer;}
.page-user-profile .form-group__input {width: 504px;}
.page-profile .page-user-profile .form-group__input {width: 100%;}

.page-user-reg .registration_text {padding-top: 162px; background: url(../images/icon_reg.png) no-repeat 50% 0; font-size: 14px; text-align: center; -webkit-flex: 0 0 calc(100% - 565px); flex: 0 0 calc(100% - 565px);}
.page-user-reg .registration_text p {margin: 0;}
.page-user-reg form.site-form {margin-bottom: 0; padding-right: 40px; border-right: 1px solid #eee;}
.page-user-reg form .form__input-buttons {border: none; padding-top: 0; margin-top: 30px;}
.page-user-reg form .form__input-captcha .form-group {-webkit-flex: 0 0 calc(100% - 130px); flex: 0 0 calc(100% - 130px); margin-right: 30px;}
.page-user-reg form .form__input-captcha .form-image {-webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; align-items: flex-end;}
.page-user-reg form .form__input-captcha .form-group__input {width: 100%;}

.page-order .order-box,
.page-history .order-box {width: 100%;}
.page-order .cart-item__price {font-size: 14px; font-weight: bold;}
.page-order .order-box__bottom {background: #f6f6f6; padding: 28px 30px; margin-top: 40px;}
.page-order .cart-subtotal-title {width: auto;}
.page-order .cart-box__subtotal.cart-box__subtotal-resume {border-color: #e5e5e5; margin-bottom: 0;}
.page-order .cart-list__item:last-child {padding-bottom: 30px; border-bottom: 1px solid #eee;}

.page-history .order-box {font-size: 13px;}
.page-history .order-box__header {margin: 0;}
.page-history .cart-list-header {background: #f6f6f6; padding: 10px 0px 10px 20px; font-weight: bold; font-size: 13px;}
.page-history .cart-list__item {padding: 25px 0 25px 20px; border-top: 1px solid #eee;}
.page-history .cart-list__item:first-child {border-top: none;}
.page-history .cart-list__column {-webkit-flex: 0 0 25%; flex: 0 0 25%; text-align: center;}
.page-history .cart-list__column_num {text-align: left;}
.page-history .cart-list__column_num a {border: none;}
.page-history .page-cart {padding-bottom: 0;}
.page-history .cart-list__column_status {color: #32373d; }
.page-history .cart-list__column_status.status-cancel {background: url(../images/icon_cancelled.png) no-repeat top 50% right 21px; color: #ff4200;}
.page-history .cart-list__column_status.status-done {background: url(../images/icon_success.png) no-repeat top 50% right 22px; color: #1f9d37;}
.page-history .cart-list__column_status span {max-width: 170px; display: block;}
.page-history .cart-list__column_status.status-wait {background: url(../images/icon_processing.png) no-repeat top 50% right 21px;}

.page-order span.status-cancel {color: #ff4200; padding-right: 20px; background: url(../images/icon_cancelled.png) no-repeat 100% 7px;}
.page-order span.status-done {color: #1f9d37; padding-right: 20px; background: url(../images/icon_success.png) no-repeat 100% 7px;}
.page-order span.status-wait {padding-right: 20px; background: url(../images/icon_processing.png) no-repeat right 2px top 6px;}

.search-result__item .highlight{background:yellow;}
.filter-block__list-expand{display: none;}
.ui-loader{display: none;}

.gallery__list,
.gallery__items {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px;}
.gallery-item {width: calc((100% / 3) - 20px); margin: 0 10px 20px;}
.gallery-item__image {text-align: center; margin-bottom: 15px;}
.gallery-item__image img {max-width: 100%; height: auto;}
.gallery-item__title {text-align: center;}
.gallery-item__title a {text-decoration: none; font-weight: bold; font-size: 20px; text-transform: uppercase; color: #11394b;}
.page-simple-gallery .gallery-item__image {width: calc((100% / 4) - 20px); margin: 0 10px 20px;}

.catalog__promo-items {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px;}
.catalog__promo-item {width: calc((100% / 2) - 20px); margin: 0 10px 30px;}
.promo-item__image {margin-bottom: 10px;}
.promo-item__image img {max-width: 100%; height: auto;}
.promo-item__title {margin-bottom: 10px;}
.promo-item__title a {font-size: 25px; font-weight: bold; text-decoration: none; text-transform: uppercase; color: #000;}

.color-select.active {position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 5000; background: rgba(0, 0, 0, .35 );}
.color-select__toggle-item {position: fixed; top: 216px; right: 0; width: 54px; height: 50px; border-radius: 5px 0 0 5px; background: #08c url(../images/icon_toggle.png) no-repeat 50%; cursor: pointer; box-shadow: 25px 25px 80px rgba(0, 0, 0, .25); -webkit-transition: all .5s cubic-bezier(.65, .85, .11, 1.03); transition: all .5s cubic-bezier(.65, .85, .11, 1.03); z-index: 50;}
.color-select.active .color-select__toggle-item {right: -54px;}
.color-select_inner {position: fixed; top: 216px; right: -322px; width: 322px; -webkit-transition: all .5s cubic-bezier(.65, .85, .11, 1.03); transition: all .5s cubic-bezier(.65, .85, .11, 1.03); background: #fff; z-index: 5050; padding: 31px 40px 39px;}
.color-select.active .color-select_inner {right: 0;}
.color-select_inner .cs-title {text-align: center; font-weight: 600; font-size: 16px; text-align: center; background: url(../images/icon_toggle2.png) no-repeat 0 50%; margin-bottom: 45px; padding-left: 14px;}
.color-select_inner .cs-items {display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: -o-flex; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -moz-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}
.color-select_inner .color-item__color {width: 32px; height: 32px; border-radius: 7px; border: 2px solid transparent; box-shadow: inset 1px 0 0 #dadada, inset -1px 0 0 #dadada, inset 0 1px 0 #dadada, inset 0 -1px 0 #dadada; padding: 4px; cursor: pointer;}
.color-select_inner .color-item__color.active {box-shadow: none;}
.color-select_inner .color-item__color[data-color="yellow"].active {border-color: #fecc53;}
.color-select_inner .color-item__color[data-color="orange"].active {border-color: #ff6d00;}
.color-select_inner .color-item__color[data-color="red"].active {border-color: #de002b;}
.color-select_inner .color-item__color[data-color="purple"].active {border-color: #5f58ac;}
.color-select_inner .color-item__color[data-color="blue"].active {border-color: #1976d2;}
.color-select_inner .color-item__color[data-color="green"].active {border-color: #48a216;}
.color-select_inner .color-item span {display: block; height: 100%; border-radius: 3px;}


/* Всплывашка */

#overlay {position: fixed; top: -100px; bottom: -100px; left: 0; right: 0; z-index: 5000; background: rgba(0, 0, 0, .35);}
.modal-window {display: none; position: absolute; left: 50%; z-index: 5500; background: #fff; box-shadow: 0 50px 100px rgba(0, 0, 0, .2);}
.modal-window .modal-header .modal-close {position: absolute; top: 3px; right: 3px; width: 40px; height: 40px; font-size: 0; background: url(../images/icon_delete.png) no-repeat 50%; cursor: pointer; z-index: 10;}
.modal-window.add-in-cart {width: 460px; margin-left: -230px; text-align: center; padding: 27px 0 36px;}
.modal-window.add-in-cart .modal-title {font-size: 24px; font-weight: 600; position: relative; padding-bottom: 121px; margin-bottom: 32px;}
.modal-window.add-in-cart .modal-title:before {content:""; position:absolute; bottom:0; left:50%; width:85px; height:85px; background: url(../images/icon_basket2.png) no-repeat 50%; border: 2px solid #fecc53; border-radius: 50%; margin-left: -43px;}
.modal-window.add-in-cart .cart-modal-count {font-size: 14px; margin-bottom: 37px;}
.modal-window.add-in-cart .cart-modal-inner__summ span {color: #08c;}
.modal-window.add-in-cart .cart-modal-inner__buttons .modal-close {display: inline-block; height: 40px; width: 180px; text-align: center; border-radius: 5px; border: 2px solid #08c; line-height: 36px; font-size: 13px; color: #08c; cursor: pointer; margin-right: 8px;}
.modal-window.add-in-cart .cart-modal-inner__buttons {margin-bottom: 32px;}
.modal-window.add-in-cart .cart-modal-inner__buttons .modal-close:hover {background: #08c; color: #fff;}
.modal-window.add-in-cart .cart-modal-inner__buttons a {display: inline-block; height: 40px; width: 180px; text-align: center; border-radius: 5px; line-height: 40px; font-size: 13px; color: #3d3d3d; cursor: pointer; margin-left: 8px; background: #fecc53; border: none;}
.modal-window.add-in-cart .cart-modal-inner__buttons a:hover {background: #ffe19a;}
.modal-window .jq-checkbox {border: 1px solid #e9e9e9; background: #f6f6f6;}
.modal-window .jq-checkbox.checked {background: #08c; border-color: #08c;}
.modal-window .cart-modal-inner__checkbox {-webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center;}

.modal-window {width: 403px; margin-left: -201px; padding: 28px 40px 40px;}
.modal-window .modal-title {font-size: 24px; font-weight: 600; margin-bottom: 29px; text-align: center;}
.modal-window input[type="text"],
.modal-window textarea {width: 100%; height: 50px; border: none; outline: none; border-radius: 5px; background: #f6f6f6; font: 13px/50px 'OpenSans'; padding: 0 21px; color: #666;}
.modal-window textarea {height: auto; resize: none; line-height: 1.5; padding: 10px 16px;}
.modal-window .modal__item-text {text-align: center; font-size: 13px; color: #666; margin-top: 33px; letter-spacing: -.1px; line-height: 1.6;}
.modal-window .modal__item-text a {border: none;}
.modal-window .modal__input-item-submit {text-align: center; margin-top: 34px;}
.modal-window .modal__input-item-submit input[type="submit"] {border: none; background: #fecc53; border-radius: 5px; outline: none; -webkit-appearance: none; cursor: pointer; height: 50px; font: bold 13px/50px 'OpenSans'; color: #222; text-transform: uppercase; padding: 0 61px;}
.modal-window .modal__input-item-submit input[type="submit"]:hover {background: #ffe19a;}
.modal-window .modal__input-item.modal__input-item-text {margin-bottom: 26px;}
.modal-window .form-group label {display: block; font-size: 13px; margin-bottom: 10px;}
.modal-window .order-form__captcha .form-group {margin-right: 15px;}
.modal-window .order-form__captcha .form-image {-webkit-box-align: end; -webkit-align-items: flex-end; -moz-box-align: end; -ms-flex-align: end; align-items: flex-end;}

.modal-window.buy-one-click {width: 403px; margin-left: -201px; padding: 28px 40px 40px;}
.modal-window.buy-one-click .modal-title {font-size: 24px; font-weight: 600; margin-bottom: 29px; text-align: center;}
.modal-window.buy-one-click .cart-modal-inner {text-align: center;}
.modal-window.buy-one-click .cart-modal-inner__product-title {font-size: 600px; font-size: 16px; margin-bottom: 15px;}
.modal-window.buy-one-click .cart-modal-inner__product-characteristics,
.modal-window.buy-one-click .bs-callout-danger {display: none;}
.modal-window.buy-one-click .main__cart-box {display: block; margin: 0;}
.modal-window.buy-one-click .cart__order-form,
.modal-window.buy-one-click .order-box__bottom {padding: 0; margin: 0;}
.modal-window.buy-one-click .cart-box__order-button {text-align: center;}
.modal-window.buy-one-click .order-box__bottom button[type="submit"] {border-radius: 5px; height: 50px; font: bold 13px/48px 'OpenSans'; color: #222; text-transform: uppercase; padding: 0 61px; background: #fecc53;}
.modal-window.buy-one-click .order-box__bottom button[type="submit"]:hover {background: #ffe19a;}
.modal-window.buy-one-click .cart__privacy-policy {font-size: 13px; color: #666; letter-spacing: -.1px; line-height: 1.6; text-align: center;}
.modal-window.buy-one-click .cart__privacy-policy a {border: none;}
.modal-window.buy-one-click .form-group {margin-bottom: 26px;}
.modal-window.buy-one-click .cart__order-form label {color: #666; text-align: left;}

.modal-window.change-city {width: 800px;padding: 30px;margin-left: -400px;}
.modal-window.change-city .modal-title {font-size: 21px; margin-bottom: 14px;}
.modal-window.change-city .modal-subtitle {text-align: center;}
.modal-window.change-city .modal-header {margin-bottom: 33px;}
.modal-window.change-city .modal-body {border-top: 1px solid #dadada; padding:  45px 50px 0;}
.modal-window.change-city ul {margin: 0 -5px; padding: 0; list-style: none;}
.modal-window.change-city ul li {width: calc((100% / 4) - 10px); margin: 0 5px 12px;}
.modal-window.change-city ul li.active a {font-weight: bold;}

@media (max-width: 1160px) {
    .page-history .cart-list__column_status {background-position: 100% 50% !important;}
}

@media (max-width: 1000px) {
    .page-order .cart-list__item {border-top: 1px solid #eee;}
    .page-order .delivery-notice {border-top: 1px solid #eee; margin: 0 -30px; padding: 20px 30px 0;}
	.page-history .cart-list__item {padding: 25px 30px;}

	.modal-window.change-city {left: 10px; right: 10px; width: calc(100% - 20px); margin-left: 0;}
}

@media (max-width: 950px) {
    .page-history .cart-list__column_status.status-wait {padding: 0 20px;}

	.modal-window.change-city {padding: 30px 30px 50px;}
	.modal-window.change-city .modal-title {font-size: 33px; margin-bottom: 5px;}
	.modal-window.change-city ul li {width: calc((100% / 3) - 10px);}
}

@media (max-width: 860px) {
    .page-cart .order-box__bottom {display: none;}
    .page-profile .l_col {-webkit-flex: none; flex: none; margin-bottom: 15px;}
    .page-history .l_col {margin-bottom: 0;}
}

@media (max-width: 768px) {
    .page-user-reg {-webkit-box-orient: vertical; -webkit-box-direction: reverse; -webkit-flex-direction: column-reverse; -moz-box-orient: vertical; -moz-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse;}
    .page-user-reg .registration_text {padding: 0; background: none; text-align: left; -webkit-flex: none; flex: none; width: 100%; margin-bottom: 25px;}
    .page-user-reg .registration_text br {display: none;}
    .page-user-reg form.site-form {border: none; padding: 0; width: 100%;}
    .page-user-reg .form-group__input {width: 100%;}
}

@media (max-width: 650px) {
    .page-history .cart-list__column_status {background: none !important;}
    .page-simple-gallery .gallery-item__image {width: calc((100% / 3) - 20px);}
}

@media (max-width: 550px) {
    .page-order .l_content > .wrapper {padding: 0;}
	.page-order .cart-list__item {margin-left: 0; margin-right: 0;}
	.page-order .cart-item__info,
    .page-user-profile .form-group__input {width: 100%;}
	.page-profile .lct_content,
    body.login-page .lct_content {padding: 24px 20px 31px; margin: 0;}
	.page-order .lct_content {margin-bottom: 0; padding-left: 20px; padding-right: 20px; padding-bottom: 0;}
	.page-order .delivery-notice {margin: 0; padding: 20px 20px 0;}
	.page-order .order-box__bottom {padding: 28px 20px;}
	.page-profile .l_content > .wrapper,
    .login-page .l_content > .wrapper {padding: 0;}
	.page-history .cart-list__item {margin: 0 0 1px; padding: 25px 20px;}
	.page-profile h1 {margin-bottom: 15px;}
	.page-history .lct_content {padding-bottom: 0;}
    body.login-page .lct_content {margin: 0;}
    .gallery-item {width: calc((100% / 2) - 20px);}
    .page-simple-gallery .gallery-item__image {width: calc((100% / 2) - 20px);}

	.modal-window.change-city .modal-subtitle {font-size: 14px;}
	.modal-window.change-city .modal-header {margin-bottom: 20px;}
	.modal-window.change-city .modal-body {padding: 25px 0 0;}
	.modal-window.change-city ul li {width: calc((100% / 2) - 10px);}
	.modal-window.change-city ul li a {font-size: 16px;}
	.modal-window.change-city {padding-bottom: 30px;}
}

@media (max-width: 480px) {
    .page-profile .form__input-item,
	.page-profile .profile__save input[type="submit"],
    .page-user-reg form .form__input-buttons input[type="submit"],
    .lct_content form .profile__singin-link input[type="submit"],
    .page-user-profile .form__input-buttons input[type="submit"] {width: 100%;}
    .page-history .cart-list__column_status.status-wait {padding: 0;}
}
