@font-face {
    font-family: 'Marta';
    src: url('../fonts/Marta.woff2') format('woff2'),
         url('../fonts/Marta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marta';
    src: url('../fonts/Marta-Bold.woff2') format('woff2'),
         url('../fonts/Marta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Marta';
    src: url('../fonts/Marta-Italic.woff2') format('woff2'),
         url('../fonts/Marta-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Intro';
    src: url('../fonts/Intro.woff2') format('woff2'),
         url('../fonts/Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box; outline: none;}
body {margin: 0; padding: 0; font-family: Georgia, times, serif; font-size: 16px; line-height: normal; color: #3d3d3d;}

.wrapper {max-width: 1250px; padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto;}

a {color: #464646; text-decoration: none;}
a:hover, a:focus, a:active {color: #333;}

input, textarea, select {
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img {max-width: 100%;}

h4 {font-style: italic; font-size: 29px; font-weight: 400; margin: 0; line-height: 1;}
h5 {font-size: 34px; font-weight: 400; margin: 0; font-family: Intro, sans-serif;}

.l_header {background: #fff; position: relative; margin-bottom: 65px; padding-top: 32px; z-index: 99;}
.l_header::before {content: ''; display: block; position: absolute; top: 100%; left: 0; width: 100%; height: 22px; background: url("../images/l_header.png") repeat-x 50% 0;}
.l_header .wrapper {display: flex;}
.l_header .wrapper .lh_l {padding-right: 15px; flex-shrink: 0;}
.l_header .wrapper .lh_r {padding-left: 15px; flex-grow: 1;}
.l_header .wrapper .lhr_left {display: flex; justify-content: flex-end; margin-bottom: 36px;}
/*.l_header .wrapper .lh_phone {color: #00aeef; font-family: Intro, sans-serif; font-size: 29px;}*/
.l_header .wrapper .lh_phone {color: #3d3d3d; font-family: 'Times New Roman', serif; font-size: 23px;}
.l_header .wrapper .lh_phone a {color: inherit; display: block; line-height: 50px;}
.l_header .wrapper .lh_phone a span {font-size: 41px;}
.l_header .wrapper .lh_phone a:hover {color: #0083b4;}
.l_header .wrapper .lh_phone p {margin: 0; padding: 0;}
.l_header .wrapper .lt_menu .lh_phone {display: none;}
.l_header .wrapper .lh_feedback span {display: block; width: 53px; height: 53px; background: url("../images/icon-phone.png") no-repeat 0 50%; margin-left: 14px; border-radius: 5px; cursor: pointer; position: relative;}
.l_header .wrapper .compare-widget a {display: block; width: 48px; height: 53px; background: url("../images/icon-compare.png") no-repeat 0 50%; margin-left: 14px; border-radius: 5px; position: relative;}
.l_header .wrapper .favorite-widget a {display: block; width: 48px; height: 53px; background: url("../images/icon-favorite.png") no-repeat 0 50%; margin-left: 14px; border-radius: 5px; position: relative;}
.store-compare-total {background: #e44a4a; color: #fff; position: absolute; top: -5px; right: -5px; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 14px; font-size: 14px;}
.store-favorite-total {background: #e44a4a; color: #fff; position: absolute; top: -5px; right: -5px; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 14px; font-size: 14px;}
.store-compare-total:empty, .empty .store-compare-total { display:none;}
.store-favorite-total:empty, .empty .store-favorite-total { display:none;}


.lh__burger {display: none;}
.lt_menu ul {list-style: none; display: flex; flex-wrap: wrap; padding: 0; margin: 0; justify-content: space-between;}
.lt_menu li {margin: 0 20px 10px 0; padding: 0; list-style: none; font-size: 27px;}
.lt_menu li:last-of-type {margin-right: 0;}
.lt_menu li a {font-weight: 700; text-decoration: none; border-bottom: 1px solid #dadada;}
.lt_menu li.area a {color: #32823e; border-bottom-color: #9fc5a5;}
.lt_menu li.area a:hover {color: #2a7135; border-bottom-color: #32823e;}
.lt_menu li a:hover, .lt_menu li.active a {color: #008dd2; border-bottom-color: #00aeef;}
.logo_img {width: 198px; transition: width .5s;}
.logo_img img {box-shadow: 0 0 10px rgba(0,0,0,.13); border-radius: 10px; transition: border-radius .5s;}

.lct_content a {color: #00aeef; text-decoration: none;}
.lct_content a:hover, .lct_content a:focus, .lct_content a:active {color: #00aeef;}

.site_container {background: url(../images/bg.png) repeat 50% 0;}
.page_rubber {display: flex; flex-direction: column; min-height: 100vh;}
.page_rubber .l_header, .page_rubber .l_footer {flex-shrink: 0;}
.page_rubber .l_content {flex-grow: 1;}

.l_footer {background: linear-gradient(to bottom, #ffcf1b 0%,#ffcc0b 0%,#ffcc0e 10%,#ffd93d 81%,#ffdb44 100%); color: #464646; padding: 40px 0 70px; margin-top: 20px;}
.l_footer .lf_top .wrapper {display: flex; justify-content: space-between;}
.l_footer p {margin: 0 0 3px; padding: 0;}

.privacy-bottom {position: fixed; bottom: 10px; left: 10px; right: 10px; color: rgba(255,255,255,.8); border-radius: 3px; padding: 15px 20px; background: rgba(0,0,0,.75); font-size: 12px;}
.privacy-bottom .wrapper {display: flex; align-items: center; justify-content: space-between;}
.privacy-bottom__close {cursor: pointer; border-radius: 5px; background: rgba(0,0,0,.3); padding: 12px 20px;}

.l_footer__menu ul {list-style: none; display: flex; flex-wrap: wrap; padding: 0 0 0 100px; margin: 0; justify-content: center;}
.l_footer__menu li {margin: 0 38px 25px; padding: 0; list-style: none; font-size: 21px;}
.l_footer__menu li a {font-weight: 700; text-decoration: none; border-bottom: 1px solid currentColor;}

.lf_phone {font-size: 21px; margin-bottom: 10px;}
.lf_phone a {white-space: nowrap;}

.l_footer__contacts {padding-left: 30px; padding-right: 30px; text-align: right;}
.lf_copy {font-size: 12px;}
.lf_copy p:first-of-type {font-size: 14px;}

.page-content {background: #fff; padding: 24px 20px; box-shadow: 0 6px 18px rgba(0,0,0,.13);}
.page-content h5:first-of-type {border-bottom: 1px solid #ccc; margin-bottom: 35px; padding-bottom: 10px;}
.page-content p {margin: 0 0 27px;}
.page-content ul {padding: 0 0 0 45px; margin: 0 0 27px;}
.page-content ul li {list-style: none; position: relative; min-height: 19px; padding-top: 5px; padding-bottom: 5px;}
.page-content ol li, .page-news ol li, .page-news ul li {min-height: 19px; padding-top: 5px; padding-bottom: 5px; line-height: 19px;}
.page-content ul li::before {content: ''; display: block; position: absolute; top: 5px; left: -45px; background: url(../images/check.png) no-repeat 0 0; width: 25px; height: 19px;}
.page-content hr {border-color: #ccc; border-top: none;}
.page-content hr + h5 {margin-top: 30px;}

.l_content ol {padding-left: 20px;}

.product-item {background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; display: flex; align-items: flex-start; position: relative;}
.product-item__img {margin-right: 34px; box-shadow: 0 0 6px rgba(0,0,0,.13); width: 100%; max-width: 360px; flex-shrink: 0; text-align: center; overflow: hidden; position: relative;}
.product-item__img img {}
.product-item__img-wrapper {}
.product-item__img-more {display: none;}
.product-item__img-more[style="display: block;"], .product-item__img-more[style="display: flex;"] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; background: rgba(0,0,0,.3); color: rgba(255,255,255,.8); display: flex !important; align-items: center; justify-content: center;}
.product-item__img-bullets {z-index: 10; line-height: 32px; position: absolute; bottom: 0; text-align: center; display: flex; width: 100%; justify-content: center; padding: 10px;}
.product-item__img-bullets .product-bullets__item {width: 6px; height: 6px; border: 1px solid #00aeef; border-radius: 50%; background-color: #fff; margin: 0 6px;}
.product-item__img-bullets .product-bullets__item.active {background: #00aeef;}
.product-item__img-gallery {position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; flex-direction: row;}
.product-item__img-gallery::after {position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; pointer-events: none; border-radius: 3px;}
.product-gallery__item {display: flex; overflow: hidden; flex-basis: auto; flex-grow: 1; flex-shrink: 1; cursor: pointer; opacity: 0;}
.product-gallery__item > * {width: 100%; height: 100%;}

.product-item__info {flex-grow: 1; padding-right: 40px;}
.product-item__title {color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}
.product-item__title a {color: inherit;}
.product-item__characteristic {display: flex; flex-wrap: wrap; color: #000; border-bottom: 1px solid #ccc;}
.product-item__characteristic-left {padding-right: 35px;}
.product-item__characteristic-left,
.product-item__characteristic-right {width: 50%;}
.product-spec-item {display: flex; align-items: baseline; margin: 0 0 10px;}
.product-spec-item__name {}
.product-spec-item__value {margin: 0 0 0 10px;}
.product-item__buttons { padding-right: 30px; max-width: 250px; flex-grow: 1;}
.product-item__buttons .buy-one-click__button,
.product-item__buttons .product-calc__button {width: 100%; text-align: center; color: #fff; height: 60px; display: flex; align-items: center; padding: 5px 25px; border-radius: 5px; margin-top: 15px; font-family: Intro, sans-serif; cursor: pointer;}
.product-item__buttons .buy-one-click__button {background-color: #3d9b4a; box-shadow: inset 0 -3px 0 #2f793a;}
.product-item__buttons .buy-one-click__button:hover {background-color: #2f793a;}
.product-item__buttons .product-calc__button {background-color: #00aeef; box-shadow: inset 0 -3px 0 #0083b4;}
.product-item__buttons .product-calc__button:hover {background-color: #0083b4;}

.product-item__widgets {display: flex; justify-content: center; margin-top: 14px;}
.product-item__widgets .store-compare {display: block; width: 48px; height: 53px; background: url(../images/icon-compare.png) no-repeat 0 50%; margin-left: 14px; border-radius: 5px; font-size:0;}
.product-item__widgets .store-favorite {display: block; width: 48px; height: 53px; background: url(../images/icon-favorite.png) no-repeat 0 50%; margin-left: 14px; border-radius: 5px; font-size:0;}
.product-item__widgets .store-compare-remove,
.product-item__widgets .store-favorite-remove {opacity: .5;}
.product-item .store-favorite-remove.close-btn {background: #e44a4a; color: #fff; position: absolute; top: -5px; right: -5px; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 18px; font-size: 18px; cursor: pointer;}
.product-item .store-favorite-remove.close-btn:hover {background: #d54646; color: #fff;}

.product-item__attributes {margin-top: 10px; color: #000;}
.product-item__attributes-list {padding: 0; margin: 0; list-style: none; display: flex; flex-wrap: wrap;}
.product-item__attribute-item {width: 50%; padding-right: 30px; margin-bottom: 10px;}
.product-item__price-actual {text-align: center; font-size: 31px; margin-bottom: 10px;}
/*.product-spec-item__value-inner {font-weight: 700;}*/

.product-item__characteristic .product-spec-item__value-inner {font-weight: 700;}

.view-type-block .catalog__product-items {display: flex; flex-wrap: wrap; margin-left: -12px; margin-right: -12px;}
.view-type-block .product-item {width: calc(25% - 24px); margin: 0 12px 25px; display: block;}
.view-type-block .product-item__img {width: 100%; max-width: 100%; margin-right: 0; margin-bottom: 10px;}
.view-type-block .product-item__title {padding-bottom: 8px;}
.view-type-block .product-item .product-spec-item {display: block;}
.view-type-block .product-item .product-spec-item__value {margin-left: 0; font-weight: 700;}
.view-type-block .product-item .product-spec-item__name-inner {font-weight: 400;}
.view-type-block .product-item__info {padding-right: 0;}
.view-type-block .product-item__characteristic {justify-content: space-between; align-items: baseline; font-size: 18px; margin-right: -10px; color: #3d3d3d;}
.view-type-block .product-item__characteristic .product-spec-item {width: 50%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 10px;}
.view-type-block .product-spec-item_price {font-weight: 700;}
.view-type-block .product-item__buttons {max-width: 100%; padding-right: 0; display: flex; align-items: center; justify-content: space-between; padding-top: 0; flex-wrap: nowrap;}
.view-type-block .product-item__buttons .product-calc__button {display: none;}
.view-type-block .product-item__buttons .buy-one-click__button,
.view-type-block .product-item__buttons .product-calc__button {height: 45px; line-height: normal; padding-top: 3px; }
.view-type-block .product-item__buttons .buy-one-click__button,
.view-type-block .product-item__buttons .product-calc__button {margin-top: 0;}
.view-type-block .product-item__widgets { padding-left: 0; padding-right: 0; flex-wrap: nowrap; margin: 0;}


.lct_content h1 {text-align: center; text-transform: uppercase; color: #3d3d3d; font-family: Intro, sans-serif; margin: 0 0 15px; line-height: 1; font-size: 33px;}
.catalog-page .lct_content h1 {font-size: 42px;}

.lc_filter {position: relative; background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 0 22px;}

.view-type {position: absolute; top: -53px; left: 0; display: flex;}
.catalog-view-type {margin-right: 8px; border-radius: 3px; background-color: #00aeef; color: #fff; box-shadow: inset 0 -2px 0 0 #0083b4; font-size: 0; width: 36px; height: 36px; background-position: 50% 45%; background-repeat: no-repeat; display: block; position: relative;}
.catalog-view-type.active {box-shadow: inset 0 -2px 0 0 #0083b4, 0 0 0 3px #ffcc2a;}
.catalog-view-type.active::after {content: ''; display: block; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0 0 15px #fff, inset 0 0 10px #fff;}
.view-list {background-image: url("../images/view-list.png");}
.view-block {background-image: url("../images/view-block.png");}

.store-filter {display: flex; flex-wrap: wrap; justify-content: space-between; font-size: 21px;}

.filter-block-item {margin-bottom: 15px;}
.filter-block__title {margin-bottom: 15px;}
input[type="text"].filter-input__control {border: 1px solid #00aeef; border-radius: 3px; height: 32px; padding: 5px 15px; width: 140px;}
.filter-input__box .filter-input__control {margin-left: 10px; margin-right: 10px;}

.filter-block__radio-item {display: flex; align-items: center; margin-bottom: 20px; text-transform: lowercase;}
.filter-block__radio-item .jq-radio {margin-right: 15px; border-color: #00aeef; background: #fff;}

.filter-block-2 .filter-block__radio-item {margin-left: -34px;}
.filter-block-2, .filter-block-3 {text-align: center;}

.filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {padding-top: 8px; padding-bottom: 8px;}

.filter-block-4 {text-align: center;}
.catalog-filter__button a, .catalog-filter__button input {display: block; background-color: #00aeef; color: #fff; margin: 16px auto 0; text-transform: uppercase; font-size: 17px; height: 28px; box-shadow: inset 0 -2px 0 0 #0083b4; line-height: 28px; border: none; border-radius: 3px; width: 125px; text-align: center; font-family: Intro, sans-serif; padding: 0; cursor: pointer;}
.catalog-filter__button a:hover, .catalog-filter__button a:active, .catalog-filter__button a:focus, .catalog-filter__button a:active:focus, .catalog-filter__button input:hover {color: #fff; background: #0083b4;}
select.filter-select__control {width: 145px; border: 1px solid #00aeef; border-radius: 3px; height: 32px; padding: 5px 10px 5px 5px; margin-bottom: 15px;}

.sorter {background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 5px 15px; display: flex; align-items: center; color: #000; flex-wrap: wrap;}
.sorter ul {margin: 0; padding: 0; list-style: none; display: inline-flex; padding-right: 82px; position: relative;}
.sorter li {margin-left: 10px; display: flex; align-items: center;}
.sorter li a {min-width: 92px; text-align: center; height: 28px; border-radius: 4px; text-transform: lowercase; display: inline-block; color: #fff; background: #00aeef; box-shadow: inset 0 -3px 0 0 #0083b4;}
.sorter li a:hover, .sorter li a:active, .sorter li a:focus {color: #ffcc2a;}
.sorter li a.asc,
.sorter li a.desc {background: #0083b4;}
.sorter .sort_desc, .sorter .sort_asc {line-height: 0; display: none;}
.sorter li > a + span {position: absolute; top: 0; right: 0;}
.sorter li > a + span + span {position: absolute; top: 0; right: 32px;}
.sorter .sort_desc a, .sorter .sort_asc a {line-height: normal; min-width: 28px; position: relative; text-align: center;}
.sorter li a.asc + span,
.sorter li a.asc + span + span,
.sorter li a.desc + span,
.sorter li a.desc + span + span {display: inline-block;}
.sorter li span.active > a {background: #0083b4;}
.sorter li span > a::before {content: ''; display: block; width: 16px; height: 23px; background: url(../images/arrow-up.png) no-repeat 0 0; margin: 2px auto;}
.sorter li span.active > a::before {background-image: url(../images/arrow-up-yellow.png);}
.sorter .sort_desc a::before {transform: scaleY(-1);}

.dictionary-partners-numeric {display: flex; flex-wrap: wrap; padding-top: 40px; padding-bottom: 25px; justify-content: center; max-width: 800px; margin-left: auto; margin-right: auto;;}
.dictionary-partners-numeric .dictionary-item {width: 240px; text-align: center; font-size: 19px;}
.dictionary-partners-numeric .dictionary-info {font-family: Intro, sans-serif; background: #fd8b35; color: #fff; width: 175px; height: 175px; margin: 0 auto 28px; border-radius: 50%; padding: 12px; display: flex; justify-content: center; flex-direction: column;}
.dictionary-partners-numeric .dictionary-title {padding-top: 10px; padding-bottom: 10px; height: 50%; font-size: 44px; line-height: 1; border-bottom: 1px solid #fff; display: flex; align-items: flex-end; justify-content: center;}
.dictionary-partners-numeric .dictionary-body {padding-top: 10px; padding-bottom: 10px; height: 50%;}

.dictionary-partners-buttons {display: flex; margin-bottom: 40px; justify-content: center;}
.dictionary-partners-buttons .dictionary-item {width: 50%; padding-left: 25px; padding-right: 25px; text-align: center; max-width: 356px;}
.dictionary-partners-buttons .dictionary-body p {margin: 0 0 15px;}
.dictionary-partners-buttons .dictionary-body a {
    display: flex; align-items: center; text-transform: uppercase; font-family: Intro, sans-serif; border-radius: 5px;
    background: #00aeef; color: #fff; padding: 15px 40px 17px; text-align: center; font-size: 19px; justify-content: center;
    box-shadow: inset 0 -5px 0 0 #0083b4; width: 100%; flex-direction: column;
}
.dictionary-partners-buttons .dictionary-body a small {font-size: 17px; font-family: arial, sans-serif; text-transform: lowercase; margin-top: 3px;}
.dictionary-partners-buttons .dictionary-body a:hover {background: #0083b4;}
.dictionary-partners-buttons .dictionary-info,
.dictionary-partners-buttons .dictionary-body {height: 100%; display: flex; width: 100%;}
.dictionary-partners-buttons .dictionary-body p {display: flex; width: 100%;}

.dictionary-partners-reviews {display: flex; flex-wrap: wrap; margin-top: 30px;}
.dictionary-partners-reviews .dictionary-item {display: flex; background: #fff; padding: 12px; width: calc(50% - 24px); margin: 0 12px 15px; box-shadow: 0 6px 18px rgba(0,0,0,.13);}
.dictionary-partners-reviews .dictionary-image {margin-right: 15px; flex-shrink: 0; width: 110px; height: 110px; margin-bottom: 15px;}
.dictionary-partners-reviews .dictionary-image:empty {background: url("../images/review-user-image.png") no-repeat 0 0;}
.dictionary-partners-reviews .dictionary-image img {border-radius: 50%;}
.dictionary-partners-reviews .dictionary-info {flex-grow: 1;}
.dictionary-partners-reviews .dictionary-title {color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}

.dictionary-banki-ipoteka {display: flex; justify-content: center; flex-wrap: wrap;}
.dictionary-banki-ipoteka .dictionary-item {margin: 0 15px 15px;}

.feedback-form {margin: 10px auto 20px; background: #fff; padding: 24px 20px; box-shadow: 0 6px 18px rgba(0,0,0,.13); width: 100%; max-width: 670px;}
.feedback-form .feedback-form__title {text-align: center; color: #464646; font-family: Intro, sans-serif; margin: 0 30px 30px; font-size: 34px;}
.feedback-form .feedback-form__inner .form-group__input input[type="text"] {font-family: 'Georgia', serif; background: #fff; border: 1px solid #00aeef; font-size: 17px; line-height: 44px; height: 44px; border-radius: 3px; width: 100%; padding-left: 15px; padding-right: 15px;}
.feedback-form .feedback-form__inner .form-group__input.pay_group input[type="text"] {padding-right: 60px;}

.page-news-list .news-item {background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; display: flex;}
.page-news-list .news-item .news-img {margin-right: 25px; flex-shrink: 0; line-height: 0; width: 302px; text-align: center; box-shadow: 0 6px 18px rgba(0,0,0,.13);}
.page-news-list .news-item .news-info {flex-grow: 1;}
.page-news-list .news-item .news-title {color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}
.page-news-list .news-item .news-title a {color: inherit; font-size: 20px;}
.page-news-list .news-item .news-description {color: #000;}
.page-news-list .news-item .news-more {display: none;}

.page-news .h1 {text-align: center; text-transform: uppercase; color: #00aeef; font-family: Intro, sans-serif; margin: 0 0 15px; line-height: 1; font-size: 33px;}
.page-news .lct_content .page {background: #fff; padding: 24px 20px; box-shadow: 0 6px 18px rgba(0,0,0,.13);}
.page-news .lct_content h1 {color: #464646; border-bottom: 1px solid #ccc; padding-bottom: 15px; margin-bottom: 20px; font-size: 29px;}
.page-news .lct_content .news-full__text {color: #000;}
.page-news .lct_content .news-full__image {text-align: center; margin-bottom: 25px;}
.page-news .lct_content .news-full__image img {box-shadow: 0 6px 18px rgba(0,0,0,.13);}

.page-review .review_select {text-align: center; margin-bottom: 30px;}
.page-review .review_select a {margin: 0 20px 5px; color: #fff; font-family: Intro, sans-serif; background: #00aeef; padding: 4px 30px 7px; border-radius: 5px; line-height: 17px; box-shadow: inset 0 -3px 0 0 #0083b4; display: inline-block;}
.page-review .review-item {background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; display: flex;}
.page-review .review-item__image {margin-right: 50px; width: 240px; text-align: center; flex-shrink: 0;}
.page-review .review-item__image img {border-radius: 50%;}
.page-review .review-item__name {color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;}
.page-review .review-item__info {flex-grow: 1;}

.review-items .gallery-item {width: calc(33.3333% - 20px); margin: 0 10px 20px; float: left; overflow: hidden;}
.review-items .gallery-item__video {position: relative;}
.review-items .gallery-item__video::before {content: ''; display: block; padding-bottom: 56%;}
.review-items .gallery-item__video iframe {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.review-items::after {content: ''; display: block; clear: both;}

.page-2 .page-content,
.page-contacts .page-content {
    max-width: 848px; margin-left: auto; margin-right: auto; margin-bottom: 50px;
}

.page-contacts .page-content {}

.modal-window {width: 570px; padding: 25px 30px; margin-left: -285px;}
.modal-window .modal-title {font-size: 33px; color: #464646; font-family: Intro, sans-serif;}
.modal-window .modal-header .modal-close {background: none; font-size: 40px;}
.modal-window .modal__input-item.modal__input-item-text {margin-bottom: 0;}

ul.pagination {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); display: inline-flex; margin-bottom: 20px;}
ul.pagination li a {font-size: 20px;}

.order-form__item {position: relative;}
.form-group__input {margin-bottom: 12px; display: flex;}
.order-form__item .form-group__input_checkbox {margin-top: 25px; margin-bottom: 25px;}
.form-group__input.pay_group {position: relative;}
.form-group__input.pay_group .pay_percent {color: #fd8b35; position: absolute; line-height: 44px; top: 0; right: 10px; font-size: 25px;}
.modal-window input[type="text"] {height: 44px;}
.modal-window input[type="text"], .modal-window textarea {font-family: 'Georgia', serif; background: #fff; border: 1px solid #00aeef; padding-left: 15px; padding-right: 15px; font-size: 17px; line-height: 44px;}
.modal-window input[type="text"]::placeholder, .modal-window textarea::placeholder {color: #939393;}
.modal-window input[type="text"].input-pay { padding-right: 60px;}
.order-form__item_price .form-group {display: flex; justify-content: space-between; flex-wrap: wrap; align-items: baseline;}
.order-form__item_price .form-group__help {width: 100%;}
.order-form__item_price .form-group__label {width: 50%; font-size: 18px; color: #000;}
.order-form__item_price .form-group__input {width: 50%; display: flex; justify-content: flex-end; align-items: flex-end; color: #000;}
.modal-window .order-form__item_price .form-group__input input[type="text"] {border: none; text-align: right; font-size: 24px; height: 26px; color: #000;}
.feedback-form__order-button .btn {margin: 20px 0 15px; color: #fff; font-family: Intro, sans-serif; background: #00aeef; padding: 4px 30% 7px; border-radius: 5px; line-height: normal; box-shadow: inset 0 -3px 0 0 #0083b4; display: inline-block; height: 40px; text-align: center; width: 100%; border: none; font-size: 16px; cursor: pointer;}
.feedback-form__order-button .btn:hover {background: #0083b4; color: #fff;}
.feedback__privacy-policy,
.modal-window .modal__item-text {text-align: left; font-size: 13px; margin-top: 20px; color: #666; line-height: 1.6; letter-spacing: 0;}
.modal-window .modal__item-text a { text-decoration: underline;}
.form-group__help {position: relative; top: -18px;}
.form-group__input_checkbox {display: flex; align-items: center;}
.pay_group-wrap .pay_slider {position: absolute; top: 100%; left: 3px; right: 3px; margin-top: -2px;}
.pay_group-wrap .ui-slider-horizontal {background: #00aeef; height: 2px; border: none;}
.pay_group-wrap .ui-widget-content .ui-state-default {border-radius: 50%; width: 15px; height: 15px; background: #00aeef; top: -7px; border: 1px solid #00aeef; box-shadow: inset 0 0 0 1px #fff; margin-left: -7px;}

.modal-window .form-group label {margin-bottom: 0; font-size: 16px;}
.modal-window .jq-checkbox {margin-right: 8px; background: #fff; border: 1px solid #00aeef; width: 20px; height: 20px;}
.modal-window .jq-checkbox .styler {opacity: 0;}

.modal-window .modal__input-item-submit p {margin: 0;}

.feedback-bottoms {margin-left: -15px; margin-right: -15px;}
.feedback-bottoms .modal__input-item {padding-left: 15px; padding-right: 15px;}
.modal-window .feedback-bottoms .modal__input-item-submit {margin-top: 20px;}
.modal-window .feedback-bottoms .modal__input-item-submit:first-of-type {margin-top: 0;}
.modal-window .modal__input-item-submit input[type="submit"],
.modal-window .modal__input-item-submit a {
    display: flex; align-items: center; text-transform: uppercase; font-family: Intro, sans-serif;
    border-radius: 5px; color: #fff; padding: 5px 40px; text-align: center; font-size: 16px; justify-content: center;
    width: 100%; cursor: pointer; background-color: #3d9b4a; box-shadow: inset 0 -5px 0 0 #2f793a; min-height: 40px;
    font-weight: 400; white-space: normal; line-height: normal; height: auto;
}
.modal-window .modal__input-item-submit input[type="submit"]:hover,
.modal-window .modal__input-item-submit a:hover {background-color: #2f793a;}

.modal-window .modal__input-item-submit_callback input[type="submit"] {
    padding-left: 70px !important; padding-right: 15px !important;
    background-image: url(../images/icon-callback.png) !important; background-repeat: no-repeat !important;
    background-position: 5px 3px !important; background-size: auto 38px !important;
}
.modal-window .modal__input-item-submit_whatsapp a {
    padding-left: 70px !important; padding-right: 15px !important; background-image: url(../images/icon-whatsup.png);
    background-repeat: no-repeat; background-position: 5px 3px; background-size: auto 38px !important;
}

.modal-header {padding-right: 40px;}

.contacts__buttons {margin: 0 auto; width: 100%; max-width: 390px;}
.contacts__buttons-item {margin-top: 20px; width: 100%; text-align: center;}
.contacts__buttons .contacts__buttons-item .button-callback {
    display: flex; align-items: center; text-transform: uppercase; font-family: Intro, sans-serif; border-radius: 5px;
    background-color: #00aeef; color: #fff; padding: 16px 40px; text-align: center; font-size: 16px;
    justify-content: center; box-shadow: inset 0 -5px 0 0 #0083b4; width: 100%; cursor: pointer;
}
.contacts__buttons .contacts__buttons-item .button-callback:hover {background-color: #0083b4;}
.contacts__buttons .contacts__buttons-item:first-of-type .button-callback {
    background-color: #3d9b4a; box-shadow: inset 0 -5px 0 0 #2f793a;
}
.contacts__buttons .contacts__buttons-item:first-of-type .button-callback:hover {background-color: #2f793a;}

div.compare-page {background: #fff; margin-bottom: 25px; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px;}
.compare-page .compare__top {display: flex; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 15px; flex-wrap: wrap;}
.compare-page .compare__share {}
.compare-page .compare__share > span {padding-left: 35px; background: url(../images/icon-share.png) no-repeat 0 50%;
    display: inline-block; margin-right: 10px;}
.compare-page .compare__copy,
.compare-page .compare__sprint {margin-left: 30px;}
.compare-page .compare__copy .copy-link-compare,
.compare-page .compare__sprint a {cursor: pointer; color: #0094bb; display: flex; align-items: center; height: 20px;
    padding-left: 30px; text-decoration: underline;
}
.compare-page .compare__copy .copy-link-compare {background: url(../images/icon-copylink.png) no-repeat 0 50%;}
.compare-page .compare__sprint a {background: url(../images/icon-print.png) no-repeat 0 50%;}
.compare-page .compare__copy a:hover, .compare-page .compare__sprint a:hover {text-decoration: none;}
.compare__show-toggle {display: flex; align-items: center; margin-right: auto; cursor: pointer;}
.compare-page .compare__share {display: flex; align-items: center;}

.compare-page .compare__items {display: flex; border-bottom: 1px solid #ccc;}
.compare-page .compare__items .compare-cols {width: calc(100% - 220px); position: relative;}
.compare-page .compare__items .compare__ch-title,
.compare-page .compare__characteristic-items .compare__ch-title {width: 220px; flex-shrink: 0; font-weight: 700; color: #3a3a3a; font-size: 16px; align-self: center; text-align: center;  padding: 15px 15px;}
.compare-page .compare__characteristic-items .compare__ch-title {border-bottom: 1px solid #ccc;}
.compare-page .compare__items .product-item {border-left: 1px solid #ccc; padding: 15px; display: block; width: 300px; flex-shrink: 0; margin: 0; height: auto; position: relative;}
.compare-page .slick-slider .slick-track {display: flex; height: 100%;}
.compare-page .compare__characteristic-items .product-item {border-left: 1px solid #ccc; padding: 15px; display: block; width: 300px; flex-shrink: 0; text-align: center;}
.compare-page .compare__items .product-item__img {margin-bottom: 15px;}
.compare-page .compare__items .product-item__title {padding-bottom: 0; border-bottom: none;}
.compare-page .compare__characteristic-item {display: flex;}
.compare-page .compare__characteristic-item-wrap {display: flex;}
.compare-page .compare__characteristic-item .compare__ch-item {width: 300px; text-align: center; padding: 10px 15px; font-size: 16px; flex-shrink: 0; border-bottom: 1px solid #ccc; border-left: 1px solid #ccc;}
.compare-page .product-item__img img {margin: auto;}
.compare-page .compare__items-inner {position: relative; overflow: hidden;}
.compare-page .compare__items .compare-cols .slick-arrow {position: absolute; top: 50%; width: 46px; height: 66px; margin-top: -33px; cursor: pointer; border: none; background: url(../images/arrow-left.png) no-repeat 0 0 !important; font-size: 0; z-index: 10;}
.compare-page .compare__items .compare-cols .slick-prev {left: 0;}
.compare-page .compare__items .compare-cols .slick-next {right: 0; transform: scaleX(-1);}
.compare-page .jq-checkbox {margin-right: 8px; background: #fff; border: 1px solid #00aeef; width: 14px; height: 14px;}
.compare-page .jq-checkbox.checked {background: #00aeef;}
.compare-page .jq-checkbox .styler {opacity: 0;}

.compare-page .compare__items .compare-cols .slick-arrow.slick-disabled{display: none !important;}

.compare-page .store-compare-remove.close-btn {background: #e44a4a; color: #fff; position: absolute; top: 5px; right: 5px; border-radius: 50%; width: 20px; height: 20px; text-align: center; line-height: 18px; font-size: 18px; cursor: pointer;z-index: 99;}
.compare-page .store-compare-remove.close-btn:hover {background: #d54646; color: #fff;}

.compare-page .compare__copy .copy-link-compare {position: relative;}
.compare-page .compare__copy .copy-link-compare .tooltiptext {visibility: hidden;background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px; position: absolute; z-index: 1;width: 100%;left: 0;transition: opacity 0.3s;}
.compare-page .compare__copy .copy-link-compare.copied .tooltiptext{visibility: visible;}


.text-center {text-align: center;}

.product-page .wrapper {position: relative; display: flex; flex-wrap: wrap; margin-left: -10px; margin-right: -10px; align-items: flex-start;}
.product-detail__main {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; margin-bottom: 25px;}
.product-detail__ipoteka {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; margin-bottom: 25px; text-align: center;}
.product-detail__review {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; margin-bottom: 25px;}
.product-detail__infrastructure {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px;}
.product-page__left {margin: 0 10px 25px; overflow: hidden; width: 100%;}
.product-page__right {background: #fff; box-shadow: 0 6px 18px rgba(0,0,0,.13); padding: 15px; margin: 0 10px 25px; /*overflow: hidden;*/ width: 100%;}
.product-page .params-title {text-align: center; color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 8px; margin-bottom: 5px; font-size: 20px;}
.product-page .result-price-value {font-weight: 700; font-size: 25px; border-bottom: 1px solid #ccc; text-align: center; padding-top: 0; padding-bottom: 10px; margin-bottom: 5px;}
.product-page .params-items {text-align: center; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #ccc;}
.product-page .product-detail__title {font-size: 34px; text-align: center; font-family: Intro, sans-serif; margin: 15px 0 20px;}
.product-detail__params {margin-top: 35px; overflow: hidden;}
.product-detail__params .params-item {display: flex; justify-content: space-between; text-align: left; margin-bottom: 3px;}
.product-detail__params .params-item__title {width: 50%;}
.product-detail__params .params-item__value {width: 45%;}

.product-page .product-detail__widgets {display: flex; justify-content: center; margin-top: 14px;}
.product-page .product-detail__widgets .store-compare {display: block; width: 40px; height: 45px; background: url(../images/icon-compare2.png) no-repeat 0 50%; margin-left: 7px; border-radius: 5px; font-size:0;}
.product-page .product-detail__widgets .store-favorite {display: block; width: 40px; height: 45px; background: url(../images/icon-favorite2.png) no-repeat 0 50%; margin-left: 7px; border-radius: 5px; font-size:0;}
.product-page .product-detail__widgets .store-compare-remove,
.product-page .product-detail__widgets .store-favorite-remove {opacity: .5;}

.product-page .fotorama__arr {position: absolute; top: 50%; width: 46px; height: 66px; margin-top: -33px; cursor: pointer; border: none; background: url(../images/arrow-left.png) no-repeat 0 0 !important; font-size: 0;}
.product-page .fotorama__arr--next {transform: scaleX(-1) !important;}


.product-detail__order {text-align: center;}
.product-detail__order .buy-one-click__button {text-align: center; color: #fff; height: 60px; display: inline-flex; align-items: center; padding: 5px 5px; border-radius: 5px; margin-top: 15px; font-family: Intro, sans-serif; cursor: pointer; background-color: #3d9b4a; box-shadow: inset 0 -3px 0 #2f793a; max-width: 100%;}
.product-detail__order .buy-one-click__button:hover {background-color: #2f793a;}
.product-page .product-item__calc {text-align: center;}
.product-page .product-item__calc .product-calc__button {text-align: center; color: #fff; height: 60px; display: inline-flex; align-items: center; padding: 5px 25px; border-radius: 5px; margin-top: 15px; font-family: Intro, sans-serif; cursor: pointer; background-color: #00aeef; box-shadow: inset 0 -3px 0 #0083b4; max-width: 100%;}
.product-page .product-item__calc .product-calc__button:hover {background-color: #0083b4;}

.product-detail__table {width: 100%; margin-top: 35px; margin-bottom: 35px;}
.product-detail__table td {border: 1px solid #ccc; text-align: center; padding: 8px 10px; margin-left: -1px;}
.product-detail__table td:first-of-type {margin-left: 0;}
.product-detail__table .product-spec-item {margin: -1px 0 0; width: 100%; align-items: stretch;}
.product-detail__table .product-spec-item__name {width: 50%;}
.product-detail__table .product-spec-item__value {width: 50%;}
.product-detail__table .product-spec-item-scope td {width: 100%;}
.product-detail__table .product-spec-item-scope .product-spec-item__value {width: 100%; margin-left: 0;}
.product-detail__table .product-spec-item-scope .product-spec-item__value ul {display: flex; list-style: none; flex-wrap: wrap; padding-left: 0;}
.product-detail__table .product-spec-item-scope .product-spec-item__value ul li {width: 50%;}

.product-page .reviews__items {margin-top: 15px; padding-left: 55px; padding-right: 55px; position: relative;}
.product-page .reviews__items .slick-arrow {position: absolute; top: 50%; width: 46px; height: 66px; margin-top: -33px; cursor: pointer; border: none; background: url(../images/arrow-left.png) no-repeat 0 0 !important; font-size: 0;}
.product-page .reviews__items .slick-prev {left: 0;}
.product-page .reviews__items .slick-next {right: 0; transform: scaleX(-1);}
.product-page .reviews__items .slick-dots {display: flex; list-style: none; margin: 10px 0; align-items: center; justify-content: center; flex-wrap: wrap; padding: 0;}
.product-page .reviews__items .slick-dots li button {width: 6px; height: 6px; border: 1px solid #00aeef; border-radius: 50%; background-color: #fff; margin: 0 6px; font-size: 0; padding: 0;}
.product-page .reviews__items .slick-dots li.slick-active button {background: #00aeef;}
.product-page .review-item__info { overflow: hidden;}
.product-page .review-item__name {color: #464646; font-family: Intro, sans-serif; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 5px;}
.product-page .review-item__text {font-style: italic;}
.product-page .review-item__text.video {position: relative;}
.product-page .review-item__text.video::before {content: ''; display: block; padding-bottom: 56%;}
.product-page .review-item__text.video iframe {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}

.product-page .fotorama__fullscreen-icon {
    width: 38px; height: 38px; background: url(../images/fuulscreen-icon.png) no-repeat 0 0;
    opacity: 1 !important; filter: drop-shadow(0px 0px 0px rgba(0,0,0,.25)); transform: none !important;
}
.page-onepos .fotorama--fullscreen .fotorama__fullscreen-icon {
    width: 40px; height: 41px; background: url(../images/fuulscreen-icon2.png) no-repeat 0 0; top: 30px !important; right: 20px !important;
    opacity: 1 !important; filter: drop-shadow(0px 0px 0px rgba(0,0,0,.25)); transform: none !important;
}

.product-detail__text {line-height: 1.8;}
.product-detail__order .buy-one-click__button {font-size: 14px; height: 40px; width: 100%; text-align: center; justify-content: center;}
.product-page .product-item__calc .product-calc__button {height: 40px; margin: 20px 0; padding-left: 35px; padding-right: 35px; font-size: 14px;}

.catalog-favorite-page .lc_filter {display: none;}

.fotorama__stage {margin-top: 0 !important; margin-bottom: 0 !important;}
.forotama-top-bar {display: none; align-items: center; justify-content: space-between; padding-left: 15px; padding-right: 15px;}
.forotama-top-bar .fr-title {color: #00aeef; font-family: Intro, sans-serif; font-size: 21px; flex-grow: 1;}
.forotama-top-bar .fr-phone {color: #00aeef; font-family: Intro, sans-serif; font-size: 21px; white-space: nowrap;}
.forotama-top-bar .fr-phone a {color: #00aeef;}
.forotama-top-bar .fr-phone a:hover {color: #0083b4;}
.forotama-top-bar .fr-buttons {display: flex; align-items: center;}
.forotama-top-bar .fr-buttons .lh_feedback {display: block; width: 35px; height: 35px; background: url("../images/icon-phone.png") no-repeat 0 50% / cover; margin-left: 8px; border-radius: 5px; cursor: pointer; position: relative;}
.forotama-top-bar .fr-buttons .product-detail__widgets {display: flex; align-items: center;}
.forotama-top-bar .fr-buttons .product-detail__widgets .store-compare {display: block; width: 32px; height: 35px; background: url(../images/icon-compare.png) no-repeat 0 50% / cover; margin-left: 8px; border-radius: 5px; font-size:0;}
.forotama-top-bar .fr-buttons .product-detail__widgets .store-favorite {display: block; width: 32px; height: 35px; background: url(../images/icon-favorite.png) no-repeat 0 50% / cover; margin-left: 8px; border-radius: 5px; font-size:0;}
.forotama-top-bar .fr-buttons .product-detail__widgets .store-compare-remove,
.forotama-top-bar .fr-buttons .product-detail__widgets .store-favorite-remove {opacity: .5;}
.forotama-top-bar .fr-buttons .product-detail__order .buy-one-click__button {width: 145px; height: 35px; font-size: 13px; margin-left: 10px; margin-top: 0;}
.forotama-top-bar .fr-buttons .product-detail__order {display: flex;}

.fotorama--fullscreen .forotama-top-bar {height: 50px; display: flex; z-index: 999;position: relative;background: #000;}
.fotorama--fullscreen .fotorama__stage {margin-top: -25px !important; margin-bottom: -25px !important;}
.fotorama__thumb .fotorama__img{width: 202px !important; height: 132px !important;top:0!important;}

/* new */
.sorter {padding-top: 11px; padding-bottom: 11px; display: flex; margin-bottom: 22px;}
.sorter__description {margin-right: 14px;}
.sorter ul {padding-right: 62px;}
.sorter li {margin-left: 2px;}
.sorter li a {padding: 0 12px; font-family: Intro, sans-serif; line-height: 28px; font-size: 12px; min-width: 50px;}
.sorter li span > a::before {background-size: auto 18px; background-position: 50% 50%;}
.reset-filter__wrapper {margin-left: auto;}
.lct_content .reset-filter {padding: 0 12px; font-family: Intro, sans-serif; line-height: 28px; font-size: 12px; min-width: 50px; text-align: center; height: 28px; border-radius: 4px; text-transform: lowercase; display: inline-block; color: #fff; background: #00aeef; box-shadow: inset 0 -3px 0 0 #0083b4; }
.lct_content .reset-filter:hover {background: #0083b4; color: #fff;}
.lct_content .sorter .sort_desc a, .lct_content .sorter .sort_asc a {padding-left: 0; padding-right: 0;}

.product-item__price-actual {font-size: 28px; font-family: georgia, times, serif; font-weight: 700;}

.product-item__buttons {flex-wrap: wrap;}
.product-item__buttons .buy-one-click__button,
.product-item__buttons .product-calc__button {
    font-size: 13px; justify-content: center; height: 40px; padding-left: 10px; padding-right: 10px; margin-top: 10px;
}

.product-item__widgets {flex-wrap: wrap; margin-bottom: 20px; padding-left: 15px; padding-right: 15px;}
.product-item__widgets .store-compare {width: 40px; height: 45px; margin-left: 6px; background-image: url(../images/icon-compare2.png);}
.product-item__widgets .store-favorite {width: 40px; height: 45px; margin-left: 6px; background-image: url(../images/icon-favorite2.png);}
.share-widget {position: relative; }
.share-widget .share-widget-ico {width: 40px; height: 45px; margin-left: 6px; display: block; background: url(../images/icon-share2.png) no-repeat 0 50%; border-radius: 5px; font-size: 0; cursor: pointer;}
.share-widget .share-widget-content {
    pointer-events: none; position: absolute; top: 100%; left: 50%; background: #fff; border-radius: 5px;
    text-align: center; padding: 12px; box-shadow: 0 6px 18px rgba(0,0,0,.13); width: 230px; margin-left: -115px;
    margin-top: 13px; opacity: 0; transition: .5s;
}

.share-widget .share-widget-content::before {
    content: ''; display: block; position: absolute; top: -15px; left: 0; width: 100%; height: 15px;
}
.share-widget .share-widget-content p {margin: 0 0 10px;}
.share-widget:hover .share-widget-content {pointer-events: auto; opacity: 1;}

.catalog__pagination {text-align: center; margin-top: 0; min-height: 40px;}
.lct_content .show_by_title {position: absolute; top: 10px; right: 5px;}
.lct_content .showBy__item {margin: 0 0 0 10px; text-decoration: none; color: inherit;}
.lct_content .showBy__item.active {text-decoration: underline; color: #0094bb;}

.bottom_control {
    margin-top: 20px; margin-bottom: 54px; padding-right: 25%; padding-left: 25%; position: relative;
}

ul.pagination {background: none; box-shadow: none; margin-bottom: 0;}
ul.pagination li {margin: 0;}
.lct_content ul.pagination li a { font-size: 22px; color: #0094bb; border: none;}
.lct_content ul.pagination li a:hover,
.lct_content ul.pagination li.selected a {background: none; color: #3d3d3d;}

.filter-block__select { position: relative;}
.filter-block__select .ms-choice {
    height: 32px; line-height: 32px; border: 1px solid #00aeef; border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif; font-size: 15px;
}
.filter-block__select .ms-drop ul > li label {text-align: left; padding: 1px 2px;}
.filter-block__select .ms-drop ul > li.item-bold label {font-weight: 700; font-family: Arial, Helvetica, sans-serif; text-decoration: underline;}
.filter-block__select .ms-drop ul > li input[type="checkbox"] {margin-right: 5px;}

.store-filter {font-size: 16px;}
.filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {padding-top: 15px; padding-bottom: 0;}
.filter-block__title {margin-bottom: 4px;}
.filter-block-item {margin-bottom: 19px;}
.filter-input__box .filter-input__control {margin-right: 2px; margin-left: 0;}
.filter-block-2, .filter-block-3, .filter-block-4 {text-align: left;}

/* new END */



/* адаптив */
@media (min-width: 768px) and (max-width: 1199px) {
    .product-item {flex-wrap: wrap;}
    .product-item__img {width: 30%;}
    .product-item__info {padding-right: 0; width: calc(70% - 34px); margin-bottom: 10px;}
    .product-item__buttons {width: 100%; display: flex; max-width: 100%; justify-content: flex-start; align-items: center}
    .product-item-quantity-buy { display: flex; justify-content: flex-start;}
    .product-item__buy {margin-right: 14px;}

    .product-item__widgets {margin-top: 0; margin-bottom: 0 !important;}
    .product-item__buttons .buy-one-click__button, .product-item__buttons .product-calc__button {
        margin-top: 10px; margin-bottom: 10px;
    }

    .view-type-block .product-item__info {width: 100%;}
    .view-type-block .product-item__characteristic .product-spec-item {max-width: 100%;}
    .view-type-block .product-item__buttons {display: block;}
    .view-type-block .product-item__buttons .product-item__buy {margin-right: 0;}
}

@media (min-width: 992px) {
    .header-fix .l_header {position: fixed; top: 0; left: 0; width: 100%; padding-top: 15px;}
    .header-fix .lt_menu {display: none;}
    .header-fix .logo_img {width: 76px;}
    .header-fix .logo_img img {border-radius: 5px;}
    .header-fix .l_header .wrapper .lhr_left {margin-bottom: 0; padding-top: 0;}
    .header-fix .l_header .wrapper .favorite-widget a {width: 38px; height:38px; background-size: cover;}
    .header-fix .l_header .wrapper .compare-widget a {width: 38px; height:38px; background-size: cover;}
    .header-fix .l_header .wrapper .lh_feedback span {width: 38px; height:38px; background-size: cover;}

    .header-fix .l_header .wrapper .lh_phone {font-size: 18px;}
    .header-fix .l_header .wrapper .lh_phone a {line-height: 40px;}
    .header-fix .l_header .wrapper .lh_phone a span {font-size: 34px;}

    .feedback-bottoms {display: flex;}
    .modal-window .feedback-bottoms .modal__input-item-submit {margin-top: 0;}

    select.filter-select__control {margin-bottom: 0;}

    .product-page__left {width: calc(75% - 20px); }
    .product-page__right {width: calc(25% - 20px); position: sticky; top: 110px;}

    .feedback-form {padding: 34px 70px;}
    .page-content {padding: 44px;}
}

@media (max-width: 1199px) {
    .logo_img {width: 150px;}
    .l_header {padding-top: 20px;}
    .l_header .wrapper .lhr_left {margin-bottom: 15px;}
    .lt_menu ul {justify-content: flex-start;}
    .lt_menu li {font-size: 16px;}

    input[type="text"].filter-input__control {width: 100px;}

    .dictionary-partners-reviews .dictionary-item {display: block;}
    .dictionary-partners-buttons .dictionary-body a {padding-left: 15px; padding-right: 15px;}

    .l_footer__menu ul {padding-left: 0;}

    .product-item__characteristic-left, .product-item__characteristic-right {width: 100%;}
}

@media (max-width: 991px) {
    .l_footer .lf_top .wrapper {display: block;}
    .l_footer__contacts {display: flex; text-align: left; justify-content: space-between; margin-top: 20px;}

    .l_header {z-index: 20;}
    /*.l_header .wrapper .lh_phone a {padding-right: 53px;}*/
    /*.l_header .wrapper .lh_phone a, .l_header .wrapper .lh_phone a span {font-size: 0;}*/

    .logo_img {width: 90px;}
    .lt_menu {display: none; position: absolute; top: 100%; left: 0; width: 100%; background: #fff; box-shadow: 0 10px 15px -10px rgba(0,0,0,.1);}
    .lt_menu ul {display: block;}
    .lt_menu li {margin-right: 0; border-top: 1px solid #ddd; padding: 10px 15px 5px;}

    .menu-open .lt_menu {display: block;}

    .lh__burger {display: block; margin-left: 14px; background-color: #00aeef; color: #fff; border: none; width: 53px; height: 53px; border-radius: 5px; position: relative; cursor: pointer;}
    .lh__burger .icon-bars { position: absolute; top: 50%; left: 50%; margin: -21px 0 0 -16px; width: 30px; height: 30px; display: block;}
    .lh__burger .icon-bar {pointer-events: none; display: block; height: 2px; width: 30px; margin: 6px 0; background: #fff; position: absolute; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; }
    .lh__burger .icon-bar:nth-child(1) {top: 5px; transform-origin: left center;}
    .lh__burger .icon-bar:nth-child(2) {top: 14px; transform-origin: center center;}
    .lh__burger .icon-bar:nth-child(3) {top: 23px; transform-origin: left center;}
    .menu-open .lh__burger .icon-bar:nth-child(1) {transform: rotate(-45deg); top: 24px; left: 5px;}
    .menu-open .lh__burger .icon-bar:nth-child(2) {width: 0; opacity: 0;}
    .menu-open .lh__burger .icon-bar:nth-child(3) {transform: rotate(45deg); top: 3px; left: 5px;}

    input[type="text"].filter-input__control {width: 70px;}
    .filter-block-2 .filter-block__radio-item {margin-left: 0;}

    .store-filter {font-size: 18px;}

    .dictionary-partners-buttons {display: block;}
    .dictionary-partners-buttons .dictionary-item {width: 100%;}
    .dictionary-partners-buttons .dictionary-body a {padding-top: 10px; padding-bottom: 10px; min-height: 80px;}

    .dictionary-partners-numeric .dictionary-item {width: 50%;}
    .dictionary-partners-reviews .dictionary-item {width: 100%; margin-left: 0; margin-right: 0; display: flex;}

    .page-news-list .news-item .news-img {width: 250px;}

    .review-items .gallery-item {width: calc(50% - 20px);}

    .page_rubber {padding-top: 140px;}
    .l_header {position: fixed; top: 0; left: 0; width: 100%;}

    .lct_content h1 {font-size: 24px;}
    .product-page__left, .product-page__right {margin-left: 0; margin-right: 0;}
    .product-page .wrapper {padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;}

    .product-detail__table .product-spec-item {font-size: 14px;}

    .view-type-block .product-item {width: calc(50% - 24px);}
    .view-type-block .product-item__buttons {display: block;}
    .view-type-block .product-item__buttons .product-item__buy {margin-right: 0;}
    .view-type-block .product-item__characteristic .product-spec-item {max-width: 100%;}
}

@media (max-width: 767px) {
    body {font-size: 18px;}

    .l_footer__contacts {display: block; text-align: center;}
    .privacy-bottom .wrapper {display: block; text-align: center; padding-left: 0; padding-right: 0;}
    .privacy-bottom__inner {margin-bottom: 15px;}
    .logo_img {width: 68px;}
    .logo_img img {border-radius: 5px;}
    .l_header .wrapper .lh_r {padding-left: 0;}
    .l_header .wrapper .lh_feedback span {background-size: cover; width: 40px; height: 40px; margin-left: 0;}
    .l_header .wrapper .compare-widget a {background-size: cover; width: 40px; height: 40px;}
    .l_header .wrapper .favorite-widget a {background-size: cover; width: 40px; height: 40px;}
    .l_header .wrapper .lh_phone {display: none;}
    .lh__burger {width: 40px; height: 40px;}

    .l_header .wrapper .lt_menu .lh_phone {padding: 10px 15px; display: block;}
    .l_header .wrapper .lt_menu .lh_phone a {display: block; font-size: 21px;}
    .l_header .wrapper .lt_menu .lh_phone a span {font-size: 34px;}

    .filter-block-1, .filter-block-4 {width: 100%;}
    .view-type {display: none;}
    .lc_filter {padding-top: 15px; padding-bottom: 15px;}
    .filter-block-item {margin-bottom: 30px;}

    .product-item {display: block;}

    .dictionary-partners-numeric .dictionary-item {width: 100%;}
    .dictionary-partners-buttons .dictionary-item {padding-left: 0; padding-right: 0;}
    .dictionary-partners-buttons .dictionary-body a {font-size: 20px;}
    .dictionary-partners-reviews .dictionary-item {display: block;}
    .dictionary-banki-ipoteka {margin-right: -15px; margin-left: -15px;}

    .page-news-list .news-item { display: block;}
    .page-news-list .news-item .news-img {margin-bottom: 25px; width: 100%; margin-right: 0;}

    .page-review .review-item {display: block;}
    .page-review .review-item__image {margin-right: 0; margin-bottom: 15px; width: auto;}

    .review-items .gallery-item {width: 100%; margin-left: 0; margin-right: 0;}

    .feedback-form .feedback-form__title {margin-left: 0; margin-right: 0; font-size: 18px;}

    .feedback-form__order-button .btn {padding-left: 8px; padding-right: 8px;}

    .modal-window {width: 96%; margin-left: -48%;}
    .modal-window .modal-title {font-size: 22px;}

    h5 {font-size: 24px;}

    .sorter__description {width: 100%; margin-bottom: 10px;}
    .sorter ul {margin-left: -10px; margin-bottom: 10px; padding-right: 72px;}

    .product-item__img {margin-bottom: 15px;}

    .product-item__info {padding-right: 0;}

    .product-item__buttons {padding-right: 0; max-width: 100%;}

    .modal-window .modal__input-item-submit input[type="submit"],
    .modal-window .modal__input-item-submit a {padding-left: 20px; padding-right: 20px;}

    .order-form__item_price .form-group__label {width: 100%;}

    .modal-window {padding: 15px;}

    .filter-block-2, .filter-block-3 {width: 100%;}
    .filter-block-2 .filter-block-item, .filter-block-3 .filter-block-item {margin-bottom: 0;}
    select.filter-select__control {width: 100%;}

    .product-page .reviews__items {padding-left: 0; padding-right: 0;}
    .product-page .reviews__items .slick-arrow {display: none !important;}

    .product-page .product-detail__title {font-size: 30px;}

    .view-type-block .product-item {width: calc(100% - 24px);}

    .compare-page .compare__items .compare__ch-title,
    .compare-page .compare__characteristic-items .compare__ch-title {width: 100px; font-size: 12px;}
    .compare-page .compare__items .compare-cols {width: calc(100% - 100px);}
    .compare-page .compare__items .product-item,
    .compare-page .compare__characteristic-item .compare__ch-item {width: 180px; font-size: 14px;}
    div.compare-page {padding-left: 5px; padding-right: 5px;}
    .compare-page .compare__items .compare__ch-title,
    .compare-page .compare__characteristic-items .compare__ch-title {padding-left: 0; padding-right: 0;}

    .dictionary-banki-ipoteka .dictionary-item {max-width: 80px;}

    .forotama-top-bar .fr-buttons {display: none;}
    .fotorama--fullscreen .forotama-top-bar {flex-wrap: wrap; padding-top: 5px; padding-bottom: 5px;}
    .forotama-top-bar .fr-phone p {margin: 5px 0;}
}

@media (min-width: 600px) and (max-width: 767px) {
    .filter-block-1 {display: flex; justify-content: space-between;}
    .filter-block-1 .filter-block-item {width: 48%;}
    .filter-block-2, .filter-block-3 {width: 48%;}

    .catalog-filter__button {display: flex; justify-content: center;}
    .catalog-filter__button a, .catalog-filter__button input {margin: 10px 10px 0;}

}

@media (min-width: 1280px) /* and (max-width: 1599px) */{
    body {font-size: 16px;}
    .wrapper {max-width: 1186px;}

    .l_header {padding-top: 15px; margin-bottom: 80px;}
    .l_header .wrapper .lh_l {padding-left: 10px;}
    .l_header .wrapper .lh_r { padding-right: 10px;}
    .l_header .wrapper .lhr_left {padding-top: 10px; margin-bottom: 7px;}

    .l_header .wrapper .favorite-widget a {width: 40px; height: 45px; margin-left: 12px; background-image: url(../images/icon-favorite2.png);}
    .l_header .wrapper .compare-widget a {width: 40px; height: 45px; margin-left: 12px; background-image: url(../images/icon-compare2.png);}
    .l_header .wrapper .lh_feedback span {width: 45px; height: 45px; margin-left: 12px; background-image: url(../images/icon-phone2.png);}

    .logo_img {width: 180px;}

    .lt_menu ul {justify-content: flex-end;}
    .lt_menu li {font-size: 21px; margin-right: 30px;}

    .lct_content h1 {font-size: 45px; margin-bottom: 40px;}
    .view-type {top: -48px; left: 20px;}
    .catalog-view-type {width: 32px; height: 32px;}

    .lc_filter {padding-left: 20px; padding-right: 20px;}
    .store-filter {font-size: 16px;}
    .filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {padding-top: 15px; padding-bottom: 0;}
    .filter-block__title {margin-bottom: 4px;}
    .filter-block-item {margin-bottom: 19px;}
    input[type="text"].filter-input__control {width: 176px;}
    .filter-input__box .filter-input__control {margin-right: 2px; margin-left: 0;}
    select.filter-select__control {width: 235px;}
    .filter-block-2, .filter-block-3, .filter-block-4 {text-align: left;}

    .catalog-filter__button a, .catalog-filter__button input {margin-top: 42px; width: 235px; height: 32px; font-size: 16px;}

    .product-item__title {font-size: 20px; padding-top: 9px; padding-bottom: 18px; margin-bottom: 12px;}
    .product-item__characteristic {padding-bottom: 4px; margin-bottom: 15px;}

    .product-item__price {padding-bottom: 11px;}
    .product-item__img {max-width: 312px; margin-right: 22px;}
    .product-spec-item {margin-bottom: 12px;}
    .product-item__buttons {padding-right: 15px; min-width: 240px; padding-top: 15px;}



    .l_footer__menu ul {padding-left: 25px; padding-right: 25px; padding-top: 23px; max-width: 670px;}
    .l_footer__menu li {font-size: 16px; margin-left: 25px; margin-right: 25px;}
    .l_footer__menu li a {font-weight: 400;}
    .l_footer__contacts {padding-right: 12px; min-width: 350px; padding-top: 10px;}
    .lf_phone {font-size: 16px;}
    .lf_phone span {font-size: 35px;}
    .lf_copy p:first-of-type,
    .lf_copy {font-size: 16px;}
}

@media (max-width: 1279px) {
    .store-filter {margin-left: -15px; margin-right: -15px;}
    .filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {width: 25%; position: relative; padding-left: 15px; padding-right: 15px;}
    select.filter-select__control {width: 100%;}
    .catalog-filter__button a, .catalog-filter__button input {margin-top: 42px; width: 100%; height: 32px; font-size: 16px;}
}

@media (max-width: 991px) {
    .catalog__pagination {margin-bottom: 20px; }
    .bottom_control {padding-left: 0; padding-right: 0;}
    .lct_content .show_by_title {position: static; text-align: center; margin-bottom: 20px;}
    .filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {width: 50%; padding-bottom: 15px;}
    input[type="text"].filter-input__control {width: calc(50% - 5px);}
    .filter-block-item {margin-bottom: 15px;}
    select.filter-select__control { margin-bottom: 0;}

    .compare-page .compare__copy, .compare-page .compare__sprint {
        margin-left: 0; margin-top: 15px;
    }

    .compare-page .compare__copy {
        margin-right: auto;
        min-width: 50%;
    }
}

@media (max-width: 767px) {
    .filter-block-1, .filter-block-2, .filter-block-3, .filter-block-4 {width: 100%; padding: 0 15px;}
    .filter-block-item {}
    .filter-block__select { margin-bottom: 15px;}
    .catalog-filter__button a, .catalog-filter__button input {margin: 15px 0 0;}

    .compare-page .compare__share {flex-wrap: wrap;}
    .compare-page .compare__share > span {margin: 10px 0 10px; width: 100%; padding-left: 30px;}
    .compare-page .compare__share .ya-share2 {padding-left: 30px;}
}


