/* Yellow theme */

.theme-yellow .lh_recall a,
.theme-yellow .lt_menu ul li a:before,
.theme-yellow .mp_slider .slick-dots li.slick-active button,
.theme-yellow .mp_about .mpa_recall a,
.theme-yellow .lcq_btn a,
.theme-yellow .theme-color img,
.theme-yellow .btn_cart,
.theme-yellow .btn_success,
.theme-yellow .privacy-bottom__close,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons a,
.theme-yellow .modal-window.buy-one-click .order-box__bottom button[type="submit"],
.theme-yellow .modal-window .modal__input-item-submit input[type="submit"],
.theme-yellow .lct_content form input[type="submit"],
.theme-yellow .lct_content form button[type="submit"] {background-color: #fecc53;}

.theme-yellow .lh_recall a:hover,
.theme-yellow .lcq_btn a:hover,
.theme-yellow .btn_cart:hover,
.theme-yellow .btn_success:hover,
.theme-yellow .privacy-bottom__close:hover,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons a:hover,
.theme-yellow .modal-window.buy-one-click .order-box__bottom button[type="submit"]:hover,
.theme-yellow .modal-window .modal__input-item-submit input[type="submit"]:hover,
.theme-yellow .lct_content form input[type="submit"]:hover,
.theme-yellow .lct_content form button[type="submit"]:hover {background-color: #ffe19a;}

.theme-yellow .mp_cases .slick-dots li.slick-active button {background-color: #222;}

.theme-yellow .mp_slider .slider_description div a,
.theme-yellow .marker,
.theme-yellow .marker.marker-special,
.theme-yellow .product-item__discount,
.theme-yellow .lc_filter .catalog-filter__button input[type="submit"],
.theme-yellow .mp_subscribe form input[type="submit"],
.theme-yellow .order-box__bottom button[type="submit"],
.theme-yellow .cart-box__subtotal-wrapper button[type="submit"],
.theme-yellow .coupon-input-box button[type="button"],
.theme-yellow .jq-checkbox.checked,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close:hover,
.theme-yellow .lc_filter .ui-slider-horizontal .ui-slider-handle,
.theme-yellow .lc_filter .ui-slider .ui-slider-range,
.theme-yellow .product-detail__discount,
.theme-yellow .product-detail__buttons .buy-one-click__button:hover,
.theme-yellow .modal-window .jq-checkbox.checked {background-color: #08c;}

.theme-yellow .mp_slider .slider_description div a:hover,
.theme-yellow .order-box__bottom button[type="submit"]:hover,
.theme-yellow .cart-box__subtotal-wrapper button[type="submit"]:hover,
.theme-yellow .coupon-input-box button[type="button"]:hover {background-color: #179ee2;}

.theme-yellow .lh_recall a,
.theme-yellow .mp_about .mpa_recall a,
.theme-yellow .lcq_btn a {color: #222;}

.theme-yellow a,
.theme-yellow .lm_menu ul li a:hover,
.theme-yellow .lm_menu ul li a.active,
.theme-yellow .lm_menu ul li:hover > a,
.theme-yellow .lm_menu .menu-catalog-submenu ul ul li a:hover,
.theme-yellow .lm_menu .menu-catalog-submenu ul ul li a.active,
.theme-yellow .product-item__buy-one-click,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__summ span,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close,
.theme-yellow .product-detail__question span,
.theme-yellow .product-detail__buttons .buy-one-click__button,
.theme-yellow.page-profile .left-menu li a:hover,
.theme-yellow.page-profile .left-menu li.active a {color: #08c;}

.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close:hover,
.theme-yellow .product-detail__buttons .buy-one-click__button:hover {color: #fff;}

.theme-yellow .mp_slider .slick-prev,
.theme-yellow .mp_slider .slick-next,
.theme-yellow .lh_basket:before,
.theme-yellow .modal-window.add-in-cart .modal-title:before {border-color: #fecc53;}

.theme-yellow .mp_catalog .service-item__title a:hover,
.theme-yellow .mpn_view_all a:hover,
.theme-yellow .mp_news .main-news-item__title a:hover,
.theme-yellow h2 a.view_all:hover,
.theme-yellow .h2 a.view_all:hover,
.theme-yellow h3 a.view_all:hover,
.theme-yellow .h3 a.view_all:hover,
.theme-yellow .lm_menu ul li a:hover,
.theme-yellow .lm_menu ul li a.active,
.theme-yellow .lm_menu ul li:hover > a,
.theme-yellow .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close,
.theme-yellow .product-item__buy-one-click:hover span,
.theme-yellow .jq-checkbox.checked,
.theme-yellow .lc_filter .catalog-filter__button input[type="submit"],
.theme-yellow .product-detail__buttons .buy-one-click__button,
.theme-yellow .product-detail__description-area .js-tabs-holder .tabs__list > li > a:hover,
.theme-yellow .product-detail__description-area .js-tabs-holder .tabs__list > li > a.active,
.theme-yellow.page-profile .left-menu li a:hover,
.theme-yellow.page-profile .left-menu li.active a,
.theme-yellow .modal-window .jq-checkbox.checked {border-color: #08c;}

.theme-yellow .mp_about .mpa_recall a {border: 1px solid #fecc53;}

.theme-yellow .mp_slider .slick-prev {background: #fecc53 url(../images/arrow_left.png) no-repeat 50%;}
.theme-yellow .mp_slider .slick-next {background: #fecc53 url(../images/arrow_right.png) no-repeat 50%;}
.theme-yellow .mpn_view_all a:before {background: url(../images/arrow_right2.png) no-repeat 50% 50%;}
.theme-yellow .mp_cases .case-item__img a:before {background: #fecc53 url(../images/icon_plus2.png) no-repeat 50%;}

.theme-yellow .mp_about .mpa_recall a:hover {background: none;}

.theme-yellow .lc_filter .catalog-filter__button input[type="submit"]:hover {background-color: transparent;}

.theme-yellow .lc_menu ul li a:hover,
.theme-yellow .lc_menu ul li.active > a {background-image: url(../images/bullet_act.png);}
.theme-yellow .mpn_view_all a:before {background-image: url(../images/arrow_right2.png);}
.theme-yellow .cart-item__quantity .cart-quantity-decrease {background-image: url(../images/icon_minus.png);}
.theme-yellow .cart-item__quantity .cart-quantity-increase {background-image: url(../images/icon_plus.png);}
.theme-yellow .menu_opener {background-image: url(../images/arrow_down3.png);}
.theme-yellow.mobile .main__product-tabs .tabs__link {background-image: url(../images/arrow_down4.png);}
.theme-yellow.mobile .main__product-tabs .tabs__link.active {background-image: url(../images/arrow_up4.png);}

.theme-yellow .product-item:hover {box-shadow: inset 2px 0 0 #fecc53, inset -2px 0 0 #fecc53, inset 0 2px 0 #fecc53, inset 0 -2px 0 #fecc53;}


/* Green theme */

.theme-green a {color: #469e14;}
.theme-green .lh_recall a {background-color: #e52929; color: #fff;}
.theme-green .lh_recall a:hover {background-color: #e26464;}
.theme-green .lt_menu ul li a:before {background-color: #469e14;}
.theme-green .mp_slider .slick-prev,
.theme-green .mp_slider .slick-next {border-color: #469e14;}
.theme-green .mp_slider .slick-prev {background: #469e14 url(../images/green/arrow_left.png) no-repeat 50%;}
.theme-green .mp_slider .slick-next {background: #469e14 url(../images/green/arrow_right.png) no-repeat 50%;}
.theme-green .mp_slider .slick-dots li.slick-active button {background-color: #469e14;}
.theme-green .mp_catalog .service-item__title a:hover,
.theme-green .mpn_view_all a:hover,
.theme-green .mp_news .main-news-item__title a:hover,
.theme-green h2 a.view_all:hover,
.theme-green .h2 a.view_all:hover,
.theme-green h3 a.view_all:hover,
.theme-green .h3 a.view_all:hover {border-color: #469e14;}

.theme-green .mp_cases .case-item__img a:before {background: #469e14 url(../images/green/icon_plus2.png) no-repeat 50%;}
.theme-green .mp_about .mpa_recall a {border: 1px solid #469e14; color: #fff; background: #469e14;}
.theme-green .mp_about .mpa_recall a:hover {background: none; color: #222;}
.theme-green .lc_menu ul li a:hover,
.theme-green .lc_menu ul li.active > a {background-image: url(../images/green/bullet_act.png);}
.theme-green .lcq_btn a {background-color: #469e14; color: #fff;}
.theme-green .lcq_btn a:hover {background: #68ad41;}
.theme-green .mp_cases .slick-dots li.slick-active button {background-color: #469e14;}
.theme-green .theme-color img{background-color: #469e14;}
.theme-green .lh_basket:before {border-color: #469e14;}
.theme-green .lm_menu ul li a:hover,
.theme-green .lm_menu ul li a.active,
.theme-green .lm_menu ul li:hover > a {color: #469e14; border-color: #469e14;}
.theme-green .lm_menu .menu-catalog-submenu ul ul li a:hover,
.theme-green .lm_menu .menu-catalog-submenu ul ul li a.active {color: #469e14;}
.theme-green .mp_slider .slider_description div a {background-color: #469e14; color: #fff;}
.theme-green .btn_cart,
.theme-green .btn_success,
.theme-green .privacy-bottom__close {background-color: #e52929; color: #fff;}
.theme-green .mp_slider .slider_description div a:hover {background-color: #63b136;}
.theme-green .btn_cart:hover,
.theme-green .btn_success:hover,
.theme-green .privacy-bottom__close:hover {background-color: #e26464;}
.theme-green .marker.marker-special {background-color: #469e14;}
.theme-green .marker.marker-new {background-color: #893ca9;}
.theme-green .marker.marker-hit {background-color: #ffb811;}
.theme-green .product-item__discount,
.theme-green .jq-checkbox.checked {background-color: #469e14;}
.theme-green .product-item__buy-one-click {color: #469e14;}
.theme-green .product-item:hover {box-shadow: inset 2px 0 0 #469e14, inset -2px 0 0 #469e14, inset 0 2px 0 #469e14, inset 0 -2px 0 #469e14;}
.theme-green .mp_subscribe form input[type="submit"],
.theme-green .order-box__bottom button[type="submit"],
.theme-green .cart-box__subtotal-wrapper button[type="submit"],
.theme-green .coupon-input-box button[type="button"] {background-color: #469e14;}
.theme-green .mp_subscribe form input[type="submit"]:hover,
.theme-green .order-box__bottom button[type="submit"]:hover,
.theme-green .cart-box__subtotal-wrapper button[type="submit"]:hover,
.theme-green .coupon-input-box button[type="button"]:hover {background-color: #63b136;}
.theme-green .modal-window.add-in-cart .modal-title:before {border-color: #469e14;}
.theme-green .modal-window.add-in-cart .cart-modal-inner__summ span {color: #469e14;}
.theme-green .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close {border-color: #469e14; color: #469e14;}
.theme-green .modal-window.add-in-cart .cart-modal-inner__buttons .modal-close:hover {background-color: #469e14; color: #fff;}
.theme-green .modal-window.add-in-cart .cart-modal-inner__buttons a,
.theme-green .modal-window.buy-one-click .order-box__bottom button[type="submit"],
.theme-green .modal-window .modal__input-item-submit input[type="submit"],
.theme-green .lct_content form input[type="submit"],
.theme-green .lct_content form button[type="submit"] {background-color: #e52929; color: #fff;}
.theme-green .modal-window.add-in-cart .cart-modal-inner__buttons a:hover,
.theme-green .modal-window.buy-one-click .order-box__bottom button[type="submit"]:hover,
.theme-green .modal-window .modal__input-item-submit input[type="submit"]:hover,
.theme-green .lct_content form input[type="submit"]:hover,
.theme-green .lct_content form button[type="submit"]:hover {background-color: #e26464;}
.theme-green .order-box__bottom button[type="submit"]:hover,
.theme-green .cart-box__subtotal-wrapper button[type="submit"]:hover,
.theme-green .coupon-input-box button[type="button"]:hover {background-color: #63b136;}

.theme-green .product-item__buy-one-click:hover span,
.theme-green .jq-checkbox.checked,
.theme-green .product-detail__buttons .buy-one-click__button,
.theme-green .product-detail__description-area .js-tabs-holder .tabs__list > li > a:hover,
.theme-green .product-detail__description-area .js-tabs-holder .tabs__list > li > a.active,
.theme-green.page-profile .left-menu li a:hover,
.theme-green.page-profile .left-menu li.active a,
.theme-green .modal-window .jq-checkbox.checked {border-color: #469e14;}

.theme-green .lc_filter .catalog-filter__button input[type="submit"] {background-color: #469e14; border-color: #469e14;}

.theme-green .lc_filter .catalog-filter__button input[type="submit"]:hover {background-color: transparent;}

.theme-green .lc_filter .ui-slider-horizontal .ui-slider-handle,
.theme-green .lc_filter .ui-slider .ui-slider-range,
.theme-green .product-detail__discount,
.theme-green .product-detail__buttons .buy-one-click__button:hover,
.theme-green .modal-window .jq-checkbox.checked {background-color: #469e14;}

.theme-green .product-detail__question span,
.theme-green .product-detail__buttons .buy-one-click__button,
.theme-green.page-profile .left-menu li a:hover,
.theme-green.page-profile .left-menu li.active a {color: #469e14;}

.theme-green .product-detail__buttons .buy-one-click__button:hover {color: #fff;}

.theme-green .mpn_view_all a:before {background-image: url(../images/green/arrow_right2.png);}
.theme-green .cart-item__quantity .cart-quantity-decrease {background-image: url(../images/green/icon_minus.png);}
.theme-green .cart-item__quantity .cart-quantity-increase {background-image: url(../images/green/icon_plus.png);}
.theme-green .menu_opener {background-image: url(../images/green/arrow_down3.png);}
.theme-green.mobile .main__product-tabs .tabs__link {background-image: url(../images/green/arrow_down4.png);}
.theme-green.mobile .main__product-tabs .tabs__link.active {background-image: url(../images/green/arrow_up4.png);}





@media (max-width: 860px) {
    .theme-yellow .lh_basket a span {background-color: #fecc53;}

    .theme-yellow .lc_filter .catalog-filter__button a {border-color: #08c;}

    .theme-yellow .lc_filter .filter-block__title {background-image: url(../images/arrow_down4.png);}
    .theme-yellow .lc_filter .filter-block.opened .filter-block__title {background-image: url(../images/arrow_up4.png);}


    .theme-green .lh_basket a span {background-color: #e52929; color: #fff;}

    .theme-green .lc_filter .catalog-filter__button a {border-color: #469e14;}

    .theme-green .lc_filter .filter-block__title {background-image: url(../images/green/arrow_down4.png);}
    .theme-green .lc_filter .filter-block.opened .filter-block__title {background-image: url(../images/green/arrow_up4.png);}
}

@media (max-width: 650px) {
    .theme-yellow .mp_sales .slick-dots li.slick-active button,
    .theme-yellow .mp_newbies .slick-dots li.slick-active button,
    .theme-yellow .mp_brands .slick-dots li.slick-active button,
    .theme-yellow .similar_items .slick-dots li.slick-active button {background-color: #fecc53;}


    .theme-green .mp_sales .slick-dots li.slick-active button,
    .theme-green .mp_newbies .slick-dots li.slick-active button,
    .theme-green .mp_brands .slick-dots li.slick-active button,
    .theme-green .similar_items .slick-dots li.slick-active button {background-color: #469e14;}
}

@media (max-width: 550px) {
    .theme-yellow .mp_news .slick-dots li.slick-active button {background: #fecc53;}


    .theme-green .mp_news .slick-dots li.slick-active button {background: #469e14;}
}

@media (max-width: 480px) {
    .theme-yellow .lh_recall a {border-color: #fecc53;}

    .theme-yellow .lh_recall a {background-color: transparent;}


    .theme-green .lh_recall a {border-color: #e52929;}

    .theme-green .lh_recall a {background-color: transparent;}
}
