#stepName {
    color: #999999;
    float: left;
    font-size: 19px;
    margin-top: 12px;
    margin-left: 5px;
}

footer{
    text-align: center;
}

.installContentWrapper {
    padding-bottom: 50px;
}

#overall-wrap .installContentWrapper .installContent {
    margin: 0 auto;
    width: 80%;
}

.installContent::after {
    clear: both;
}

.installMenu .nav-list > li > a {
    padding: 5px 15px;
}

#modules-modal-list.row {
    margin-left: 0;
}

.navbar .navbar-brand {
    padding-top: 7px;
}

li.nav-header, li.nav-header a {
    padding: 5px 15px;
}

#log-content {
    margin-top: 20px;
    font-size: 10px;
    line-height: 1.2;
}

.installContent .btn-group {
    margin: 0;
}
.form-control{
    border-radius: 0;
}
.progress{
    height: 12px;
}
.progress-bar-striped.active, .progress-striped .progress-bar.active {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
.progress-bar {
    background-color: #4ab6d5;
    border: none;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
}
.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: linear-gradient(45deg,rgba(255,255,255,.1) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.1) 50%,rgba(255,255,255,.1) 75%,transparent 75%,transparent);
    background-size: 10px 10px;
}