html{
	background: #fff !important;
}
script{
	background: url(../img/script.png) no-repeat center center;
	padding: 10px;
	height: 10px;
	display: block;
	max-width: 100%;
	font-size: 0;
}
div.mce-fullscreen {
	z-index: 9999;
}
.mce-content-body {
	background: #fff !important;
	padding: 10px 10px;
}